<app-top-navbar></app-top-navbar>
<div class="container">
  <div class="tab-pane" id="settings">
      <form  [formGroup]="form">

                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="row" style="margin-top: 35px;">
                      <div class="col-md-3">
                    <label style="margin-top: 15px;">Current Password</label>
                    </div>
                    <div class="col-md-6" >
                      <input type="password"  formControlName="currentPassword" class="form-control" name="password" id="password" placeholder="Current Password" title="enter your password." style="    height: 45px;">
                    </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="row" style="margin-top: 35px;">
                      <div class="col-md-3">
                    <label style="margin-top: 15px;">New Password</label>
                    </div>
                    <div class="col-md-6" >
                      <input type="password" formControlName="newPassword" class="form-control" name="password2" id="password2" placeholder="New Password" title="enter your password2." style="    height: 45px;">
                    </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="row" style="margin-top: 35px;">
                      <div class="col-md-3">
                    <label style="margin-top: 15px;">Re enter password</label>
                    </div>
                    <div class="col-md-6" >
                      <input type="password" formControlName="reenterPassword"class="form-control" name="password2" id="password2" placeholder="Re enter password" title="enter your password2." style="    height: 45px;">
                    </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-md-9">

                       <br>
                       <div class="col-md-3"></div>

                       <button (click)="changePassword()" class="btn btn-success" style="float: right;    padding: 0px 15px 0px 18px!important;
                       border-top-left-radius: 5px!important; border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Submit</button>
                       <button (click)="gotoHome()" style="float: right;   color: #fff; padding: 0px 15px 0px 18px!important;
                       border-top-left-radius: 5px!important; margin-right:28px; border-bottom-right-radius: 5px!important;  border-top-right-radius: 5px!important;  border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Cancel</button>
                    </div>
                   </div>
                  </div>
             </div>

            </form>
      <div>
