<div class="wrapper">
  <div class="nav_footer">
    <div style="width:100%; height:28px;
background: transparent url('assets/images/header.png')0% 0% repeat-x padding-box;;
background-color: #6062BE;
">
      &nbsp;
    </div>
  </div>
</div>
