<div id="performancediv"   *ngIf="showDiv == true"  style="width: 100%; height: 300px;"></div>

<div *ngIf="showDiv == false" >
<button style="position: absolute;    z-index: 9999;
position: absolute;
right: 3%;
border: none;
border-radius: 50%;
font-size: 20px;
width: 40px;
height: 45px;" (click)="backtoMain()">-</button>
<div id="subperformancediv"  style="width: 100%; height: 300px"></div>
</div>
