

<div  class="row" style="background:#fff;padding-top:5px; padding-bottom:10px;    margin-right: 0px;
padding-right: 0px;">

  <div class="col-md-9" style="padding-top: 8px;">
    <div style="padding-left: 20px;">
    <a [routerLink]="'/analyst/submissions'" (click)="navigate('1')" [ngClass]="submission ?'active':''">
      <img   alt="" src="assets/images/Icon_group.svg" style="background-color: #FFAA00; padding: 0px; background: transparent;margin-top: -5px;" width="16">
      Submission Manager
    </a>&nbsp;
    <a [routerLink]="'/analyst/analystdashboard'" (click)="navigate('2')" [ngClass]="dashboard ?'active':''"> <img   alt="" src="assets/images/Icon_barchart.svg" style=" margin-top: -5px;padding: 0px;padding-right: 2px; background: transparent;" width="12">CAT Analyst Dashboard</a>&nbsp;
    <a [routerLink]="'/analyst/help'"  (click)="navigate('3')" [ngClass]="help ?'active':''"><img   alt="" src="assets/images/Icon_metro_books.svg" style=" padding: 0px; background: transparent;" width="16"> Help</a>
  </div>
  </div>
  <div class="col-3" style="float:right" *ngIf="router.url != '/analyst/help'">
    <div class="inner-addon left-addon" style="width:75%; float:right">

      <div class="input-group" daterangepicker [options]="picker1" (selected)="selectedDate($event, chosenDate)"
        (applyDaterangepicker)="applyDatepicker($event)" (showDaterangepicker)="calendarEventsHandler($event)">
        <span class="form-control uneditable-input" name="daterange">
          {{ chosenDate.start | date:'mediumDate' }} - {{ chosenDate.end| date:'mediumDate' }}
        </span>
        <span class="input-group-btn">
          <a type="button" class="btn btn-default" style="height: 33px;width: 30px;background-image:url('assets/images/calendar.png');
		background-position: center;
    background-color: #fff;
	border:none
		">
            <img src="" />
          </a>
        </span>
      </div>
    </div>
  </div>
</div>


