
<div class="container-fluid">
  <div class="row" style="margin:10px 0 0 5px;">

      <div class="col-2">
        <form  [formGroup]="form">
     <!-- <div class="row">
      <div class="col form-group">
        <div class="input-group" style="    height: 35px;">
          <input class="form-control" style="height: 35px;" type="text" placeholder="yyyy-mm-dd" (blur)="onFiltersChage()"  formControlName="selected_date" ngbDatepicker #ds="ngbDatepicker" >
          <div class="input-group-append" style="    height: 32px;
          margin-left: -4px;
          background: white;
          margin-top: 3px;">
            <button class="btn btn-outline-secondary calendar" style="border: none;" (click)="ds.toggle()" type="button">📅</button>
          </div>
          <span class="focus-input100"></span>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col form-group" style="margin-bottom: 5px;">
        <label for="UW_List" style="margin-bottom: 0;">UnderWriter</label>
        <select class="form-control" id="UW_List" formControlName="uw_name" (change)="onFiltersChage()">
          <option selected>All</option>
          <option *ngFor="let option of _userList | async" [value]="option.full_name">
            {{option.full_name}}
          </option>
        </select>
      </div>
      </div>

      <div class="row">
        <!-- <div class="col form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>All</option>
          <option *ngFor="let option of _managerList | async" [value]="option.full_name">
            {{option.full_name}}
          </option>
          </select>
        </div> -->
        <div class="col form-group"  style="margin-bottom: 5px;">
          <label for="exampleFormControlSelect1" style="margin-bottom: 0;">LoB</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="lob_name" (change)="onFiltersChage()">
            <option>All</option>
            <option *ngFor="let option of _lobs | async" [value]="option.name">
              {{option.name}}
            </option>
          </select>
        </div>
        </div>
        <!-- <div class="row">
          <div class="col form-group"  style="margin-bottom: 5px;">
            <label for="exampleFormControlSelect2" style="margin-bottom: 0;">CAT Analysts</label>
            <select class="form-control" id="exampleFormControlSelect2" formControlName="CatAnalyst_name" (change)="onFiltersChage()">
              <option>All</option>
          <option *ngFor="let option of _analystList | async" [value]="option.full_name">
            {{option.full_name}}
          </option>
            </select>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col form-group">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Met</option>
              <option>Not Met</option>
            </select>
          </div>
          </div> -->

        </form>
      </div>
      <div class="col-6" >
        <div class="row">
        <div class="col Box7"   (click)="open(viewmodal,'Awaiting_Analyst_Action')">
          <img src="assets/images/pricing-structure.png" width="60" height="60" style="margin: 10px;margin-left: 16%;">
          <h1 style="text-align: center;color: #4d5074;margin-top: -16px;">{{Awaiting_Analyst_Action}}</h1>
          <p style="text-align: center; color: #9398d8;">Awaiting Analyst Action </p>
        </div>
        <div class="col Box7" (click)="open(viewmodal,'Awaiting_UW_Input')">
          <img src="assets/images/signing-a-document.png" width="60" height="60" style="margin: 10px;margin-left: 16%;">
          <h1 style="text-align: center;color: #4d5074;margin-top: -16px;">{{Awaiting_UW_Input}}</h1>
          <p style="text-align: center; color: #9398d8;">Awaiting UW input</p>
        </div>
        <div class="col Box7" (click)="open(viewmodal,'CATS_in_progress')" >
          <img src="assets/images/Group 75.png" width="60" height="60" style="margin: 10px;margin-left: 16%;;">
          <h1 style="text-align: center;color: #4d5074;margin-top: -16px;">{{CATS_in_progress}}</h1>
          <p style="text-align: center; color: #9398d8;">CATS in progress</p>
        </div>
        <div class="col Box7" (click)="open(viewmodal,'RMS_AIR')" >
          <img src="assets/images/terms-and-conditions.png" width="60" height="60" style="margin: 10px;margin-left: 16%;">
          <h1 style="text-align: center;color: #4d5074;margin-top: -16px;">{{RMS_AIR}}</h1>
          <p style="text-align: center; color: #9398d8;">RMS/AIR run in progress </p>
        </div>
        <div class="col Box7" (click)="open(viewmodal,'Completed')">
          <img src="assets/images/rules.png" width="60" height="60" style="margin: 10px;margin-left: 16%;">
          <h1 style="text-align: center;color: #4d5074;margin-top: -16px;">{{Completed }}</h1>
          <p style="text-align: center; color: #9398d8;">Completed</p>
        </div>
        <!-- <div class="col Box7" (click)="open(viewmodal,'Unassigned')">
          <img src="assets/images/rules.png" width="60" height="60" style="margin: 10px;margin-left: 16%;">
          <h1 style="text-align: center;color: #4d5074;margin-top: -16px;">{{Unassigned}}</h1>
          <p style="text-align: center; color: #9398d8;">Unassigned </p>
        </div> -->
      </div>
      </div>

      <div class="col-4">
        <div class="panel " style="border:1px solid #E5E7FA;height: 90%;">
            <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
               Proportion of Duplicate account
          <ul class="list-inline panel-actions">
            <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
          </ul>
        </div>
        <div class="panel-body" style="height:80%;background: white;">
          <div class="row">

            <div class="col-md-3" style="margin-top: 35px;" ><img src="assets/images/pricing-structure.png" width="100" height="100" style="margin-top: -38px;"></div>
            <div class="col-md-9" style="margin-top: 30px; padding-left: 15px;">
              <div class="row">
                <div class=col-6>
                <p><ngb-progressbar type="success" [value]="duplicateAccounts"></ngb-progressbar></p>
                </div>
                <div class=col>
                  <h1 style="color:#4d4f72;    margin-top: -10px;float:left;">{{duplicateAccountsNumber}}</h1>
                  <h3 style="color:#4d4f72;    margin-top: 0px;text-align: right;">{{duplicateAccounts}} %</h3>
                  </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 5%;">
          <p style="color:#9297d4;  font-weight: bold;">Duplicate account as percentage of total Completed accounts</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row" style="margin:10px 0 0 5px;">

        <div class="col-md-4 col-sm-12">
          <div style="background-color:#fff; position: absolute; z-index: 999; height: 50px; width: 60px; bottom: 0;" > </div>
            <div class="panel " style="border:1px solid #E5E7FA;">
                <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
                    Completed accounts by no. of locations in the account
              <ul class="list-inline panel-actions">
                <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
              </ul>
            </div>
            <div class="panel-body" style="background: white;">
             <app-Locations></app-Locations>
            </div>
          </div>
        </div>
         <div class="col-md-3 col-sm-12">
          <div style="background-color:#fff; position: absolute; z-index: 999; height: 50px; width: 52px; bottom: 0;" > </div>
            <div class="panel " style="border:1px solid #E5E7FA;">
                <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
                  Account received by expected  turn around time
              <ul class="list-inline panel-actions">
                <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
              </ul>
            </div>
            <div class="panel-body" style="background: white;">
             <app-piechart></app-piechart>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div style="background-color:#fff; position: absolute; z-index: 999; height: 50px; width: 60px; bottom: 0;" > </div>
            <div class="panel " style="border:1px solid #E5E7FA;">
                <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
                   Performance of completed account
              <ul class="list-inline panel-actions">
                <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
              </ul>
            </div>
            <div class="panel-body" style="background: white;">
              <app-performanceofcompletedaccount></app-performanceofcompletedaccount>
            </div>
          </div>
        </div>
        </div>

</div>

<ng-template #viewmodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title"> </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="panel-body" style="height: 350px;
    overflow-y: scroll;padding: 3px;">
      <div style="background:#fff;height: 100%;">

        <table class="table table-striped">
          <thead>
          <tr>
          <th sortable="ref_id" scope="col" >Ref Id</th>
          <th sortable="UWName" scope="col" >UW Name</th>
          <th sortable="lob" scope="col" >LoB</th>
            <th sortable="tat" scope="col" >TAT</th>
            <th scope="col" sortable="duplicate" >Policy Type</th>
            <th scope="col" sortable="status" >Modelling Status</th>
            <th scope="col" sortable="status" >Modelling Sub Status</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of subresult">

              <td *ngIf="TypeofFiles == 'Awaiting_Analyst_Action'" >
                <a routerLink="/analyst/submissions/{{country.Ref_ID}}">
                <ngb-highlight [result]="country.Ref_ID" ></ngb-highlight>
              </a>
              </td>
              <td *ngIf="TypeofFiles != 'Awaiting_Analyst_Action'" >
                 <ngb-highlight [result]="country.Ref_ID" ></ngb-highlight>

              </td>
            <td>
                <ngb-highlight [result]="country.UW_Name" ></ngb-highlight>
              </td>
            <td>
                <ngb-highlight [result]="country.LoB" ></ngb-highlight>
              </td>
            <td>
                <ngb-highlight [result]="country.TAT" ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="country.Policy_Type" ></ngb-highlight>
              </td>
              <td><ngb-highlight [result]="country.Modeling_Status" class="{{country.Modeling_Status | modelingstatus}}"  ></ngb-highlight></td>

              <td><ngb-highlight [result]="country.Modeling_Sub_status"    ></ngb-highlight></td>
            </tr>
            </tbody>
        </table>

        </div>

    </div>


  </div>
</ng-template>


