.top-nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 999999999;
    background: transparent linear-gradient(180deg, #242348 0%, #001A4D 79%, #002263 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #0000FF36;
    opacity: 1;
    height: 45px;

  }
  .abc{
    vertical-align:middle;
  }
  .fa-bell { padding-right: 1em; }

  .fa-bars:hover {
      cursor: pointer;
  }
  .fa-power-off{ padding-right:1em;}

  .fa-power-off:hover{
      cursor: pointer;
      /* color:#e53935; */
      color:#fff;
  }
  .fa-bell:hover{cursor: pointer}

  .mat-select-arrow {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid;
      margin: 0 4px;
      color: #FFF;
  }

  .not-empty-select.mat-selected {
      color: green !important;
  }

  .logo-config{
  /* color: rgb(0,31,86); */
  color:#fff;
  margin-top: 13px;
      font-size: 18px;
      font-weight: 600;
      padding-left: 5px;
  }

  .menu-bar {
    /* float: right; */
     width: 100%;
  }

  .menu-bar ul {
    list-style: none;
      display: flex;
      position: absolute;
      float: right;
      top: 15px;
      right: 40px
  }

  /* li {
    float:left;
  } */

  .fa {
    font-size: 25px;
  }
  .menu-bar a {
    padding: 5px;
    text-decoration: none;
    font-size: 15px;

    color:#fff;
    font-weight: 400;
  }
  @media (min-width: 1244px) and (max-width: 1366px) {
    .menu-bar a {
      padding: 5px 10px;
    }
  }

  @media (min-width: 1367px) and (max-width: 1866px) {
    .menu-bar a {
      padding: 5px 18px;
    }
  }

  .active-list-item {
    /* color: rgb(235,0,74) !important; */
    color:#000 !important;
  }

  .header-menu a:hover {
    color: #3498db;
  }

  .dropdown-item:hover{
  color:rgb(16, 30, 75) !important;
  }

  .dropdown-item{
    color:rgb(16, 30, 75) !important;
    }

  .header-menu {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 53px;
    width: 100%;
    z-index: 999999999;
  }

  .header-menu a {
    float: left;
    display: block;
    /* color: #74788d; */
    color:#fff;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .header-menu ul {
    float: right;
  }
  @media (min-width: 1226px) and (max-width: 1868px) {
  .col-md-2 {
    padding:8px 25px;
    display: -webkit-inline-box;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .col-md-2 {
      padding:8px 25px;

      }
  }
  @media (min-width: 1226px) and (max-width: 1868px) {
  .logo-config{
    /* color: rgb(0,31,86); */
    color:#fff;
    margin-top: 13px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .logo-config{
      /* color: rgb(0,31,86); */
      color:#fff;
      margin-top: -15%;
      font-size: 18px;
      font-weight: 600;
      padding-left: 37px;
      }
    }

    .col-md-s-1{
      max-width: 4%;
      flex: 0 0 8%;
    }

    .col-md-5{
      max-width: 38%;
      flex: 0 0 38%;
    }

    .col-xs-5{
      max-width: 45%;
      flex: 0 0 45%;
    }

    .col-lg-5{
      max-width: 41%;
      flex: 0 0 41%;
    }

    .logo-img-config{
      width: 12%;
      height: 85%;
      padding: 3px;
      margin-top: 3px;
      margin-left: 25px;
      cursor: pointer;
    }
    .top-nav-img{
      background: url("/assets/app-logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 159px;
      position: relative;
      left: 10px;
    }

    .col-config-1{
      flex:0 0 4%;
      max-width: 4%;
    }

    .col-config-2{
      flex:0 0 25%;
      max-width: 25%;
    }

    .col-config-9{
      flex:0 0 71%;
      max-width: 71%;
    }

    .col-cog-config-1{
      flex:0 0 7%;
      max-width: 7%;
    }

    .logout-img-config{
      /* background: url("/assets/log-out-icon.svg"); */
      background-repeat: no-repeat;
      background-size: contain;
      width: 16px;
      height: 16px;
      position: relative;
      left: 20px;
      top: 16px;
      cursor: pointer;
    }

    .middle-space-config{
      text-align:right;padding-top:12px;
    }

    .first-space-config{
      display: flex;padding: 5px;
    }

    /* CSS CHANGES*/
    .l1-config{
      user-select: none;
      list-style: none;
    }

    .l2-config{
      right: initial;
      position: relative;
    }

    .l3-config{
      bottom: 9px;
    }



    .dropdown-menu{
      right: 0px;
      left:-75px;
      width: 170px;
    }

   .dropdown-toggle{
      padding: 0 10px !important;
    }

    .user_logout{
      /* background: url('assets/images/log-out-icon.svg'); */
      background-repeat: no-repeat;
      background-size: contain;
      width: 16px;
      height: 16px;
      position: absolute;
      left: -4px;
      top: 3px;
      cursor: pointer;
    }
