<div class="row" style="height:50px;width:100%;
background: transparent url('assets/images/header.png')0% 0% repeat-x padding-box;;
background-color: #6062BE;
padding: 0px;margin-left: 0px;
">
  <div class="col-md-6">
<div >
    <a href="#">
      <div class="sutherland_logo"><img src="assets/images/sutherland_logo_white.svg" width="180" alt="" style="    vertical-align: middle;
        border-style: none;
        padding: 7px 0px;" /></div>
    </a>
  </div>
</div>
<div class="col-md-6" style="padding: 0px;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top" class="menu-bar" style="vertical-align: middle;">
    <ul>
      <li style="margin-left: 10px;" style="margin-left: 10px;" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">Hi {{LoggedInUserName}}  &nbsp;<i class="fa fa-user-circle" style="font-size: 24px;"></i></a>
        <div class="dropdown-menu" style="left:10px;" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" style="font-size: 14px;"  routerLink="/change-password">Change password</a>
          <a class="dropdown-item" style="font-size: 14px;"  routerLink="/my-info">My Info</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="font-size: 14px;"  (click)="onLogout()">Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="LoggedInUserRole == 'CAT_MANAGER'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButtons"><i class="fa fa-gear" style="font-size:24px"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtons">
          <!-- <a class="dropdown-item" style="font-size: 14px;"  routerLink="/user-list">User Management</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="font-size: 14px;"  routerLink="/role-list">Role</a> -->
          <a class="dropdown-item" style="font-size: 14px;"  routerLink="/settings">Settings</a>

        </div>
      </li>


  </ul>

</nav>

</div>
</div>
