<div class="form-row" >
  <div class="form-group col-md-6" style="text-align: right;padding-top: 1.5%;">
    <label>Peril</label>
  </div>
  <div class="form-group col-md-6">
      <select class="form-control" (change)="onPerilChange($event)" >
        <option>All</option>
        <option>EQ</option>
        <option>Hurricane</option>
        <option>Severe Convective Storm</option>
        <option>Winterstorm</option>
      </select>
  </div>
</div>
<div id="porildiv" style="width: 100%; height: 250px"></div>
