

<form style="background:#F2F3F8">
<div class="col-md-12" style="padding-bottom:20px">
  <div class="form-group form-inline" style="padding-top:5px">
		<div class="col-md-6" style="padding-left:0px">
			<h4 style="color:#5f60ba"><img src="assets/images/Layers.png" width="35" style="
    padding: 8px;
    background: transparent;" alt=""/> Total Submission ({{_subission.length}}):</h4>
		</div>
		<div class="col-md-6" style="padding-right:0px">
		<div class="input-group-addon">
	<span class="glyphicon glyphicon-envelope"></span>
   </div>
			<input class="form-control ml-6" style="position:absolute;right:200px;width: 250px;"
      type="text" name="searchTerm" placeholder="search" (keyup)="applyFilter($event.target.value)"/>


			<button style="float: right;
    width: 180px;
    height: 34px;
    background: #6062BE;
    color: #fff;
    border: 1px solid #6062BE;
    border-radius: 5px;" (click)="open(mymodal,{},'new')">+ Add New Submission</button>
		</div>

      <span class="ml-3" style="padding-left:50%" *ngIf="service.loading$ | async">Loading...</span>
  </div>
<div style="background:#fff;height: 100%;">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped" matSort matSortActive="UW_Status" matSortDirection="desc">

    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">

        <img src="assets/images/pencil.png" style="padding: 2px;"  (click)="open(mymodal,element,'edit')">
        <img src="assets/images/book.png" style="padding: 2px;" (click)="open(viewmodal,element,'view')">
        <img *ngIf="element.Modeling_Status == 'Completed'" src="assets/images/Binder_update.jfif" style="padding: 2px;    width: 25px;height: 25px;" (click)="open(Bindersviewmodal,element,'binders')">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Ref_ID">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>CAT Modeling Ref Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Ref_ID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Sub_Date">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Sub Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Sub_Date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Sub_Time">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Sub Time</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Sub_Time}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="UW_Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header >UW Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.UW_Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Broker_Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Broker Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Broker_Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Inception">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Inception </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Inception}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Expiry">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Expiry}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LoB">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> LoB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.LoB}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="TAT">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> TAT </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.TAT}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Duplicate">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Duplicate</mat-header-cell>

      <mat-cell *matCellDef="let element" >
        <div *ngIf="element.Duplicate == 'Y'; then ifblock else elseblock"></div>
       <ng-template  #ifblock> <a  style="color:blueviolet;" (click)="open(duplicateModel,{},'')">{{element.Duplicate}}</a> </ng-template>
        <ng-template #elseblock>{{element.Duplicate}} </ng-template>
      </mat-cell>

    </ng-container>

    <ng-container matColumnDef="Modeling_Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Modelling Status</mat-header-cell>
      <mat-cell *matCellDef="let element" class="{{element.Modeling_Status | modelingstatus}}">{{element.Modeling_Status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="UW_Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>UW Status</mat-header-cell>
      <mat-cell *matCellDef="let element" class="{{element.UW_Status | modelingstatus}}" >{{element.UW_Status}}</mat-cell>
    </ng-container>
<!--
    <ng-container matColumnDef="Binder_Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Binder Status </mat-header-cell>
      <mat-cell *matCellDef="let element"  > {{element.Binder_Status}}   </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[ 10 ]" showFirstLastButtons></mat-paginator>


	</div>
 <!-- <div class="d-flex justify-content-between p-2">


    <select class="custom-select" style="width: auto;display:none" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
	<ngb-pagination
      [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>
  </div>-->

</div>
</form>



<ng-template #mymodal let-modal id="mymodal">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">CATS Modelling Input  - {{CurrentRefId}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="form-row">
    <div class="form-group col-md-6" style="margin-bottom: 0rem;">

      <label for="inputEmail4">Upload SOV</label> <span style="color:red;">*</span>
      <div id="dropArea" class="catfiles" style="padding-left: 10px;">
        <input #catfileUploader id="catmodellfile" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display: none;" (model)="_catfile" (change)="onFileChange($event, 'catfile');addAccountName($event,'CAT')">
        <span id="catfile"> {{catfilename}}</span>
          <img src="assets/images/upload.png" id="browse"  style="position: absolute;
          right: 5px;padding: 5px !important;" (click)="openModellingFile($event, 'catfile')"/>
      </div>
      <span id="catfileAccountName"></span>
    </div>
    <div class="form-group col-md-6"  style="margin-bottom: 0rem;">
	<div class="form-group col-md-12">
    <label for="inputAddress">Upload Modelling Instructions</label> <span style="color:red;">*</span>
  <div id="dropArea" class="dropzones" style="padding-left: 10px;">
    <input #insfileUploader id="catinstructfile" type="file" style="display: none;" (model)="_instruction" (change)="onFileChange($event, 'instruct');addAccountName($event,'MI')" >
    <span id="instructions"> {{instructions}}</span>
      <img src="assets/images/upload.png" id="browseIns"  style="position: absolute;
      right: 10px;" (click)="openModellingFile($event, 'instruct')"/>
  </div>
  <span id="MIAccountName"></span>
</div>
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6" >

      <label for="policytype">Policy Type</label> <span style="color:red;">*</span>
      <select id="policytype" class="form-control" formControlName="policy_type"  [ngClass]="{ 'is-invalid': submitted && f.policy_type.errors }">
      <option>New</option>
      <option>Renewal</option>
      </select>

	  </div>



  <div class="form-group col-md-6" >
  <div class="form-group col-md-12">
    <label for="underwritter">Underwriter Name</label> <span style="color:red;">*</span>
    <select id="underwritter" class="form-control" formControlName="uw_name"  [ngClass]="{ 'is-invalid': submitted && f.uw_name.errors }">
    <!--  <option>UW1</option>
      <option>UW2</option>-->

      <option *ngFor="let option of _userList | async" [value]="option.full_name">
        {{option.full_name}}
      </option>
    </select>
    <span class="focus-input100"></span>
  </div>
  </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-3" style="margin-bottom: 0;" >
      <label for="inputState">Inception Date</label> <span style="color:red;">*</span>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="dpInceptionDate"  [(ngModel)]="inceptionDate" formControlName="inception_date" ngbDatepicker #ds="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.inception_date.errors }" (dateSelect)="AddInceptionDate()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="ds.toggle()" type="button">📅</button>
        </div>
        <span class="focus-input100"></span>
      </div>
    </div>
    <div class="form-group col-md-3" style="margin-bottom: 0;" >
      <label for="inputZip">Expiration Date</label> <span style="color:red;">*</span>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dpExpirationDate"  [(ngModel)]="expirationDate" formControlName="expire_date" ngbDatepicker #d="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.expire_date.errors }">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
        </div>
        <span class="focus-input100"></span>
      </div>
    </div>

	    <div class="form-group col-md-6" style="margin-bottom: 0;" >
        <div class="form-group col-md-12"  >
          <label for="inputCity">Policy Ref ID</label>
        <input type="text" class="form-control" id="inputCity" formControlName="policyrefid">
      </div>

    </div>
  </div>
  <div class="form-row">

  <div class="form-group col-md-6" >
    <div class="form-group" style="margin-bottom: 0;">
      <label for="tat">TAT</label>
      <select id="tat" class="form-control" formControlName="tat">
        <option></option>
        <option>Rush</option>
      </select>
	  </div>
		<div class="form-group" style="margin-bottom: 0;">
      <label for="lob">LOB</label> <span style="color:red;">*</span>
      <select id="lob" class="form-control" formControlName="lob"  [ngClass]="{ 'is-invalid': submitted && f.lob.errors }">

        <option *ngFor="let option of _lobs | async" [value]="option.name">
          {{option.name}}
        </option>
      </select>
      <span class="focus-input100"></span>
    </div>
	<div class="form-group" style="margin-bottom: 0;" >
      <label for="inputCity required">Broker/Agency Name</label>
    <input type="text" class="form-control" id="inputCity" formControlName="broker">
  </div>




  </div>
  <div class="form-group col-md-6" >
    <div class="form-group col-md-12" >
    <label for="inputAddress2">Underwriter Comments</label>
    <textarea class="form-control" rows="4" style="height: 145px;" id="inputAddress2" formControlName="comment"> </textarea>
    </div>
    <div class="form-group col-md-12" style="margin-top: 20px;">
      <div style="float:right">
        <button type="submit" class="btn btn-success" >Submit</button>
        <button type="button" style="margin-left:10px" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
      </div>
  </div>
  </div>



</form>
  </div>
  <!--<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>-->
</ng-template>



<ng-template #viewmodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">CATS Modelling View  - {{CurrentRefId}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="form">
      <input type="hidden" (modal) = 'rowdata' />
  <div class="form-row">
    <div class="form-group col-md-6" >
      <div class="form-row">
        <div class="form-group col-md-9">
      <label for="inputCity">SOV filename</label>
      <input type="text" class="form-control" id="inputCity" formControlName="SOVfile" readonly>
      </div>
        <div class="form-group col-md-3">
          <label for="inputCity"> </label>
          <button class="btn" style="margin-top:30%;" (click)="downloadFile(rowdata,'SOV')" ><i class="fa fa-download"></i></button>
      </div>
      </div>
    </div>
    <div class="form-group col-md-6" >
	<div class="form-group col-md-12">
      <div class="form-row">
        <div class="form-group col-md-9">
          <label for="inputCity">Modelling Instructions filename</label>
            <input type="text" class="form-control" id="inputCity" formControlName="Instructionsfile" readonly>
      </div>
        <div class="form-group col-md-3">
          <label for="inputCity"> </label>
          <button class="btn" style="margin-top:30%;" (click)="downloadFile(rowdata,'Instructions')" ><i class="fa fa-download"></i></button>
      </div>
      </div>
</div>
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6" >

      <label for="policytype">Policy Type</label>
      <input type="text" class="form-control" id="policytype" formControlName="policy_type" readonly>

	  </div>



  <div class="form-group col-md-6" >
  <div class="form-group col-md-12">
    <label for="underwritter">Underwriter Name</label>
      <input type="text" class="form-control" id="underwritter" formControlName="uw_name" readonly>

  </div>
  </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-3" style="margin-bottom: 0;" >
      <label for="inputState">Inception Date</label>
      <input type="text" class="form-control" id="inputState" formControlName="inception_date" readonly>
    </div>
    <div class="form-group col-md-3" style="margin-bottom: 0;" >
      <label for="inputZip">Expiration Date</label>
      <input type="text" class="form-control" id="inputZip" formControlName="expire_date" readonly>
    </div>

	    <div class="form-group col-md-6" style="margin-bottom: 0;" >
        <div class="form-group col-md-12">
          <label for="tat">Policy Ref ID</label>
          <input type="text" class="form-control" id="tat" formControlName="policyrefid" readonly>
        </div>
    </div>
  </div>
  <div class="form-row">
	<div class="form-group col-md-6" >
    <div class="form-group " style="margin-bottom: 0;">
      <label for="tat">TAT</label>
      <input type="text" class="form-control" id="tat" formControlName="tat" readonly>
	  </div>
    <div class="form-group " style="margin-bottom: 0;">
      <label for="lob">LOB</label>
      <input type="text" class="form-control" id="lob" formControlName="lob" readonly>
    </div>
	<div class="form-group " style="margin-bottom: 0;">
      <label for="inputCity">Broker/Agency Name</label>
      <input type="text" class="form-control" id="inputCity" formControlName="broker" readonly>
    </div>
  </div>
  <div class="form-group col-md-6" >
    <div class="form-group col-md-12">
      <label for="inputAddress2">Underwriter Comments</label>
      <textarea class="form-control" rows="3" style="height: 145px;" id="inputAddress2" formControlName="comment" readonly> </textarea>
      </div>



    <div class="form-group col-md-12" style="margin-top: 20px;">
      <div style="float:right">
        <button type="submit" class="btn btn-success"  (click)="modal.close('Save click');open(mymodal,rowdata,'edit')" >Edit</button>
        <button type="button" style="margin-left:10px" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
      </div>



  </div>
  </div>

  </form>
  </div>
</ng-template>

<ng-template #Bindersviewmodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">CATS Modelling View  - {{CurrentRefId}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="bindersform" (ngSubmit)="submitBindersForm()">
      <input type="hidden" (modal) = 'rowdata' />
  <div class="form-row">
    <div class="form-group col-md-6" >
      <div class="form-group col-md-12" >
      <label for="policytype">Underwriting Status</label><span style="color:red;">*</span>
      <select id="policytype" class="form-control" formControlName="underwritingstatus" (change)="onStatusChange()">

      <option>Bound</option>
      <option>Not Bound</option>
      </select>
      </div>
    </div>
    <div class="form-group col-md-6" >
      <div class="form-group col-md-12" >
      <label for="policytype">Comments</label>
      <select  class="form-control"  [attr.disabled]="isBounded ? null : 'disabled' " formControlName="comments" (change)="checkBindersMandatoryFilled()">

      <option>Rejected by UW</option>
      <option>Rejected by Customer</option>
      </select>
      </div>
	  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6" >
    <div class="form-group col-md-12" >
      <label for="lob">Bound Premium</label>
      <input type="text" class="form-control" id="lob"  [readOnly]="isBounded" formControlName="boundpremium" style="width:80%;float: left;" (change)="checkBindersMandatoryFilled()" (keypress)="checkBindersMandatoryFilled()" (keydown)="checkBindersMandatoryFilled()">
      <select class="form-control" style="float: left;width: 20%;" [attr.disabled]="isBounded ? 'disabled' : null " formControlName="boundpremiumCurrency" (change)="checkBindersMandatoryFilled()">
        <option>USD</option>
        <option>GBP</option>
        <option>EUR</option>
        <option>JPY</option>
      </select>
    </div>

	  </div>
  <div class="form-group col-md-6" >
    <div class="form-group col-md-12">
      <label for="lob">Pure Premium</label>
      <input type="text" class="form-control" id="lob" formControlName="purepremium" [readOnly]="isBounded" style="width:80%;float: left;" (change)="checkBindersMandatoryFilled()" (keypress)="checkBindersMandatoryFilled()" (keydown)="checkBindersMandatoryFilled()">
      <select class="form-control" style="float: left;width: 20%;" [attr.disabled]="isBounded ? 'disabled' : null " formControlName="purepremiumCurrency" (change)="checkBindersMandatoryFilled()">
        <option>USD</option>
        <option>GBP</option>
        <option>EUR</option>
        <option>JPY</option>
      </select>
    </div>

  </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-6" >
      <div class="form-group col-md-12">
        <label for="inputEmail4">Upload Binders File</label>
        <div id="dropArea" class="dropzones" style="padding-left: 10px;" [ngStyle]="{'background':isBounded ? '#e9ecef' : '#fff' }" >
          <input type="text" style="display: none;" formControlName="Bindersfile"/>
          <input #bindersfileUploader id="bindersfile" type="file" style="display: none;" [disabled]="isBounded" (model)="_binders" (change)="onFileChange($event, 'binders')">
          <span id="binders"> {{binders}}</span>
            <img src="assets/images/upload.png" id="browseIns"  style="position: absolute;
            right: 10px;" (click)="openModellingFile($event, 'binders')" />
        </div>
        </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6" ></div>
    <div class="form-group col-md-6" >
      <div class="form-group col-md-12" >
        <div style="float:right">
          <button type="submit" class="btn btn-success" [disabled]= "isBindersMandatoryFilled" >Submit</button>
          <button type="button" style="margin-left:10px" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
          </div>
    </div>
  </div>
  </div>


  </form>
  </div>
</ng-template>

<ng-template #duplicateModel let-modal>
  <div class="modal-header" style="width: 150%; margin-left: -180px; height: 20px; ">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="padding-top: 0px;">
      &times;
    </button>
  </div>
  <div class="modal-body" style="width: 150%;      height: 825px; margin-left: -180px; background-color: #fff;">
    <div class="row" style="height: 200px!important;">

      <div class="col-md-8">
        <h6><b>Account Summary</b></h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Account Number: 000000001</th>
          <th scope="row">Underwriter : UW-1</th>

        </tr>
        <tr>
          <th scope="row"># of Locations: 70</th>
          <th scope="row">Total Value:USD: 141,089,314</th>

        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-4" style="margin-top: 45px;">
      <div class="row">
        <div class="col-md-7" >
      <button type="button" class="btn btn-primary">Retain Loss Result</button>
      </div>
      <div class="col-md-2">
      <button type="button" class="btn btn-primary">Remodel</button>
      </div>
      </div>
      </div>
    </div>
    <div class="row"   style=" height: 300px!important; margin-top: -95px;">

      <div class="col-md-12">
        <h6><b>Loss Summary (USD)</b></h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Account Summary</th>
          <th scope="row">Total</th>
          <th scope="row">Earthquake</th>
          <th scope="row">Windstrom</th>
          <th scope="row">Convective Strom</th>
          <th scope="row">Winter Strom</th>

        </tr>
        <tr>
          <th scope="row">Total Average Annual Loss</th>
          <td scope="row">37,854</td>
          <td scope="row">1,798</td>
          <td scope="row">24,534</td>
          <td scope="row">4,684</td>
          <td scope="row">6,838</td>

        </tr>
        <tr>
          <th scope="row">Total Standard Deviation</th>
          <td scope="row">615,825</td>
          <td scope="row">121,631</td>
          <td scope="row">572,621</td>
          <td scope="row">186,057</td>
          <td scope="row">43,984</td>

        </tr>
        <tr>
          <th scope="row">Total Coefficient of Variation</th>
          <td scope="row">16</td>
          <td scope="row">68</td>
          <td scope="row">23</td>
          <td scope="row">40</td>
          <td scope="row">6</td>

        </tr>
      </tbody>
    </table>
    </div>
    </div>
    <div class="row" style=" height: 350px!important; margin-top: -115px;" >

      <div class="col-md-6" >
        <h6><b>ANALYSIS:</b> US Earthquake Analysis with EQSL (USD)</h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Return Period (Probability)</th>
          <th scope="row">Ground Up Loss</th>
          <th scope="row">Gross loss</th>
          <th scope="row">Net loss</th>

        </tr>
        <tr>

          <td scope="row">100(1.00%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">200(0.50%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">300(0.33%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">400(0.25%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">500(0.20%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-6" >
      <h6><b>ANALYSIS:</b> US Windstrom and Surge Analysis (USD)</h6>
  <table class="table table-bordered" style="background-color: none;">

    <tbody>
      <tr>
        <th scope="row">Return Period (Probability)</th>
        <th scope="row">Ground Up Loss</th>
        <th scope="row">Gross loss</th>
        <th scope="row">Net loss</th>

      </tr>
      <tr>

        <td scope="row">100(1.00%)</td>
        <td scope="row">70,826</td>
        <td scope="row">61,084</td>
        <td scope="row">61,084</td>

      </tr>
      <tr>

        <td scope="row">200(0.50%)</td>
        <td scope="row">579,463</td>
        <td scope="row">569,557</td>
        <td scope="row">569,557</td>

      </tr>
      <tr>

        <td scope="row">300(0.33%)</td>
        <td scope="row">1,322,201</td>
        <td scope="row">1,311,414</td>
        <td scope="row">1,311,414</td>

      </tr>
      <tr>

        <td scope="row">400(0.25%)</td>
        <td scope="row">2,148,069</td>
        <td scope="row">2,132,061</td>
        <td scope="row">2,132,061</td>

      </tr>
      <tr>

        <td scope="row">500(0.20%)</td>
        <td scope="row">2,982,728</td>
        <td scope="row">2,945,462</td>
        <td scope="row">2,945,462</td>

      </tr>
    </tbody>
  </table>
  </div>


    </div>
    <div class="row" style=" height: 350px!important; margin-top: -90px;">

      <div class="col-md-6">
        <h6><b>ANALYSIS:</b> US Severe Convective strom Analysis (USD)</h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Return Period (Probability)</th>
          <th scope="row">Ground Up Loss</th>
          <th scope="row">Gross loss</th>
          <th scope="row">Net loss</th>

        </tr>
        <tr>

          <td scope="row">100(1.00%)</td>
          <td scope="row">73,868</td>
          <td scope="row">61,626</td>
          <td scope="row">61,626</td>

        </tr>
        <tr>

          <td scope="row">200(0.50%)</td>
          <td scope="row">140,802</td>
          <td scope="row">130,370</td>
          <td scope="row">130,370</td>

        </tr>
        <tr>

          <td scope="row">300(0.33%)</td>
          <td scope="row">195,251</td>
          <td scope="row">185,081</td>
          <td scope="row">185,081/td>

        </tr>
        <tr>

          <td scope="row">400(0.25%)</td>
          <td scope="row">244,642</td>
          <td scope="row">217,067</td>
          <td scope="row">217,067</td>

        </tr>
        <tr>

          <td scope="row">500(0.20%)</td>
          <td scope="row">292,161</td>
          <td scope="row">277,843</td>
          <td scope="row">277,843</td>

        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-6">
      <h6><b>ANALYSIS:</b> US Winterstrom Analysis (USD)</h6>
  <table class="table table-bordered" style="background-color: none;">

    <tbody>
      <tr>
        <th scope="row">Return Period (Probability)</th>
        <th scope="row">Ground Up Loss</th>
        <th scope="row">Gross loss</th>
        <th scope="row">Net loss</th>

      </tr>
      <tr>

        <td scope="row">100(1.00%)</td>
        <td scope="row">160,167</td>
        <td scope="row">148,596</td>
        <td scope="row">148,596</td>

      </tr>
      <tr>

        <td scope="row">200(0.50%)</td>
        <td scope="row">242,172</td>
        <td scope="row">226,647</td>
        <td scope="row">226,647</td>

      </tr>
      <tr>

        <td scope="row">300(0.33%)</td>
        <td scope="row">300,583</td>
        <td scope="row">280,220</td>
        <td scope="row">280,220</td>

      </tr>
      <tr>

        <td scope="row">400(0.25%)</td>
        <td scope="row">347,363</td>
        <td scope="row">330,379</td>
        <td scope="row">330,379</td>

      </tr>
      <tr>

        <td scope="row">500(0.20%)</td>
        <td scope="row">386,914</td>
        <td scope="row">364,027</td>
        <td scope="row">364,027</td>

      </tr>
    </tbody>
  </table>
  </div>

    </div>
    </div>
	</ng-template>


