@import '~bootstrap/dist/css/bootstrap.min.css';
::ng-deep .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
  border: 1px solid #D8DAE2E3;
  border-radius: 5px;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
  border: 1px solid #D8DAE2E3;
  border-radius: 5px;
}
.mat-column-Ref-Id{
  flex: 0 0 15%;
}

mat-header-cell:first-of-type {
  padding-left: 15px;
}

mat-header-cell:last-of-type {
  text-align: right;
}


.mat-column-Action{
  flex: 0 0 7%;
  padding-left: 15px;
}
.mat-row{
  border: none;
}

.mat-icon-button{
  line-height: 25px;
}
.mat-row:nth-child(even){

  }

.mat-row:nth-child(odd){
  background-color: rgba(0,0,0,.05);
  }


mat-header-cell{
  font-weight: 500;
  border-bottom-width: 1px;
  padding-top: .6rem;
  padding-bottom: .6rem;
  background: #6062BE;
  color: #fff;
}

::ng-deep.table thead th {
  font-weight: 500;
  border-bottom-width: 1px;
  padding-top: .6rem;
  padding-bottom: .6rem;
  background: #6062BE;
  color: #fff;
}

::ng-deep.table td,
::ng-deep.table th {
  padding: .6rem;
  vertical-align: top;
  border-top: 1px solid #ebedf2;
}

::ng-deep .form-group {
  margin-bottom: 1rem;
}

::ng-deep img {
  vertical-align: middle;
  border-style: none;
  padding: 10px;
}


::ng-deep.page-item.active ::ng-deep.page-link {
  z-index: 3;
  color: #fff;
  background-color: #6062BE;
  border-color: #5867dd;
}

::ng-deep.page-link {
  position: relative;
  display: block;
  padding: .4rem .75rem;
  margin-left: 2px;
  line-height: 1.25;
  color: #5d78ff;
  background-color: #fff;
  border: 1px solid #ebedf2;
}

::ng-deep.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem;
  border-bottom: 1px solid #ebedf2;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  background: #6062BE;

}


::ng-deep.modal .modal-content .modal-header .modal-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff !important;
}

::ng-deep.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ebedf2;
  /* border-radius: .3rem; */
  outline: 0;
}

::ng-deep.table tbody tr:nth-child(odd) {
  background-color: #F9F9FD;
}

::ng-deep.table tbody tr td {
  color: #4d5074;
}

::ng-deep.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .9rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

::ng-deep.form-group {
  margin-bottom: .5rem;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.fa-2x {
  font-size: 2em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.fa-layer-group:before {
  content: "\f5fd";
}

::ng-deep.dropzones {
  display: flex;
  align-items: center;
  height: 45px !important;
  background: #fff;
  cursor: pointer;
  color: #717386;
  border: 1px dashed #5867dd !important;
  border-radius: 5px;
  font-size: 12px !important;
  overflow-x: auto;
}
/*
table.dataTable thead .sorting_asc {
  background-image: url("assets/images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("assets/images/sort_desc.png");
} */


.completed {
  color: #1BBC9B;
}

.details_required {
  color: #FFAA00;
}

.in_progress {
  color: #2681FF;
}

.pending_color{
  color: #FFBF00;
}

.on_hold {
  color: #D8DAE2E3
}

.inprogress {
  color: #4D5074
}


::ng-deep.btn-outline-secondary {
    border: 1px solid #ebedf2;
}


.dropzones:after {
    content:'\A';
    position:absolute;
 /*   background:#000000;*/
    border-radius: 5px;
    bottom: 0;
    left: 15px;
    width:10%;
    height: 45px !important;
  /*  background: transparent linear-gradient(180deg, #6062BE 0%, #8D7EEC 47%, #6062BE 100%) 0% 0% no-repeat padding-box;*/
}

.catfiles {
    display: flex;
    align-items: center;
    height: 45px !important;
    background: #fff;
    cursor: pointer;
    color: #717386;
    border: 1px dashed #5867dd !important;
    border-radius: 5px;
    font-size: 12px !important;
    overflow-x: auto;
  }

  .catfiles:after {
    content:'\A';
    position:absolute;
   /* background:black;*/
    bottom:0;
    top: 25px;
    left: 5px;
    width:10%;
    height: 45px !important;
   /* background: transparent linear-gradient(180deg, #4D94FF 0%, #82ACFF 51%, #1159C7 100%) 0% 0% no-repeat padding-box;*/
    border-radius: 5px;
}

form label.required:after
{
    color: red;
    content: " *";
}

.mat-column-Ref_ID{
  flex: 0 0 14%;
}
