<link href="http://35.184.156.220/content_moderation/css/style.bundle.css" rel="stylesheet" type="text/css">

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-7"
      style="background-image: url('assets/images/leftbg.png');background-color:#673AB7">
      <div class="kt-login__logo">
        <a href="#">
          <img src="assets/images/sutherland_logo_white.svg" width="150px">
        </a>
      </div>
      <div class="kt-login__head" style="margin-top:395px;margin-left:-160px;">
        <h3 class="kt-login__title"><span style="color:#fff;font-style:poppins;font-weight:bold;">WELCOME TO Sutherland CATS</span></h3>
        <p style="  margin-top: 4px;color:#fff;font-style:poppins;">CATS is a Sutherland Proprietary platform which increases speed to quote</p>
      </div>
    </div>

    <div class="row">
      <div
        style="font-size: 0.80rem; opacity: 0.6; margin-top:600px;text-align: center; padding: 1rem;color:#fff;margin-left:-730px">
        &copy; Sutherland Global.All right reserved <span style="margin-left:330px">version 1.0.0</span></div>
    </div>
    <div class="col-md-8 col-lg-5">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto">
              <div class="col-12" style="text-align: center;">
                <img src="assets/images/brandimage.png" width="400px">
              </div>
              <h3 class="login-heading" style="text-align:center">Catastrophe Modelling</h3>
              <div class="input-group-prepend1"
                style="margin-left: 50px;text-align:center;color: #ec2b85;background-color: rgba(248, 204, 239, 0.5);border-color: transparent;width:85%;margin-bottom: 20px;">
              </div>

              <form class="login100-form validate-form p-t-30" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="input-group-prepend" style="margin-left: 50px;">
                  <input class="form-control" type="email" required placeholder="Email Address"
                    formControlName="username" autocomplete="off"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <i class="fa fa-envelope" aria-hidden="true" style=" margin-left: -96%; margin-top: 12px;"></i>
                </div><br>
                <small *ngIf="submitted && f.username.errors" class="invalid-feedback" style="color: #ec4401">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                </small>
                <span class="focus-input100"></span>

                <div class="input-group-prepend" style="margin-left: 50px;">
                  <input class="form-control" type="password" required placeholder="********" formControlName="password"
                    [ngClass]="{'is-invalid': submitted && f.password.errors}">
                    <i class="fa fa-lock" style="    margin-left: -96%; margin-top: 12px; font-size:18px"></i>
                </div><br>
                <small *ngIf="submitted && f.password.errors" class="invalid-feedback" style="color: #ec4401">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </small>
                <span class="focus-input100"></span>
                <div class="custom-control custom-checkbox mb-2">
                  <button id="kt_login_signin_submit" type="submit" class="btn btn-brand  kt-login__btn-primary"
                    style="width: 100px;font-style: poppins;float: right;">Sign In</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:: Page -->
