.kt-login.kt-login--v4 {
  background-size: cover;
  background-repeat: no-repeat
}

.kt-login__logo{
	
  margin: 1rem;
  margin-top: 350px;
  margin-left: 50px;
}

.login,
.image {
  min-height: 100vh;
}

.login-heading {
  font-size:18px;
  font-style:poppins;
  font-weight:500;
  margin-left:60px;
  margin-top: 20px;
  margin-bottom: 3.5rem!important;
  color: black;
}
.errorMessage{
color: #ec2b85;
background-color: rgba(248, 204, 239, 0.5);
border-color: transparent;
width: 100%;
margin-bottom: 20px;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 30;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  cursor: text;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  padding: .65rem 2rem !important;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}


.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

#input { 
  height:20px;
  margin:0;
  padding-left:70px;
}
#input_img {
  position:absolute;
  bottom:128px;
  left:70px;
  width:12px;
  height:11px;
}

#input_img1 {
  position:absolute;
  bottom:71px;
  left:70px;
  width:13px;
  height:12px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: .65rem 3rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}