tbody tr:hover {
    background-color:#eefbff !important ;
    cursor: pointer;
}

.active {
    background-color:#eefbff !important ;
}

.btn{
    margin-top:10px;
    color: white; 
}

.user_label{
    color: #000;
    font-weight: bold;
}

.label{
    font-size: large;
}

.filterHolder{
   padding: 25px ;
}


.row{
padding-top:10px;
}

::ng-deep .mat-sidenav-container { height: auto; }

.md-dialog-container {
    background-color: #000;
    min-width: 499px !important;
    min-height: 300px !important;
}
.filter{
    color:#000 !important;
    font-size: 13px;
}
.activeFilter{
    color:#007bff;
    font-size: 13px;
}

.container1{
    margin-bottom: 10px;
    
}


/* Scroll bar */
.table-responsive::-webkit-scrollbar {
    width:5px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px #3498db;
    background-color: #3498db;
    border: 1px solid #f5f4f8;
  }
  .table-responsive::-webkit-scrollbar-track {
    border: 1px solid #f5f4f8;
    padding: 2px 0;
    background-color: #e1e1e1;;
  }
  
  .table-responsive::-webkit-scrollbar:hover,
  .table-responsive::-webkit-scrollbar:focus {
    display: block;
  }
  
  .table-responsive {
    height: 465px;
      
  }

  @media (min-width: 1226px) and (max-width: 1868px) {
    .card-header {
      position: absolute;
      z-index: 6;
      width: 100%;
      background: #fff;
      border: none;
      /* padding: 10px 11px 11px 10px; */
      /* margin: 10px;*/
    }
  }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .card-header {
      position: absolute;
      z-index: 0;
      width: 100%;
      background: #fff;
    }
  }
  @media (min-width: 1226px) and (max-width: 1868px) {
  .hideArrows {
    width: 50px;
    overflow: visible;
    position: absolute;
    top: 0px;
    right: 0;
  }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hideArrows {
    width: 50px;
    overflow: visible;
    position: absolute;
    top: 50px;
    left: 0;
  }
  }
  
  @media (min-width: 1226px) and (max-width: 1868px) {
    .table thead th {
      background-color: #9398d8;
      position: sticky;
      z-index: 100;
      top: 35px;
      font-weight: 500;
    }
    }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .table thead th {
    background-color: #9398d8;
    position: sticky;
    z-index: 100;
    top: 35px;
    border-top:1px solid #e1e1e1;
    font-weight: 500;
  }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  ::ng-deep .table-responsive .dataTables_wrapper .dataTables_filter {
    float: right;
    position: relative;
    text-align: right;
    z-index: 7;
    top: -70px;
    color:#74788d;
    padding-right:8px;
  }
  
  ::ng-deep .table-responsive .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #e1e1e1;
  }
  }
  
  @media (min-width: 1226px) and (max-width: 1868px) {
    ::ng-deep .table-responsive .dataTables_wrapper .dataTables_filter {
      float: right;
      position: sticky;
      text-align: right;
      z-index: 7;
      top: 8px;
      color:#74788d;
      padding-right:5px;
    }
    
    ::ng-deep .table-responsive .dataTables_wrapper .dataTables_filter input {
      border: 1px solid #e1e1e1;
    }
    }
  
  

    ::ng-deep.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }

    
::ng-deep.modal-header {
   
    background: #6062BE;
  
  }
  
  
  ::ng-deep.modal .modal-content .modal-header .modal-title {
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff !important;
  }
  
  ::ng-deep.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ebedf2;
     border-radius: .3rem; 
    outline: 0;
  }