<div style="padding: 0px 5px;">
  <div class="row" style="margin-top: 0;">
    <div class="col-sm-3" style="max-width: 24%;background: #fafafa;margin-right: 6px;">
      <!--<app-table-filter [filter]="userCount" [totalCount]="this.users.length" (selectedFilter)="listClick($event)"> </app-table-filter> -->

    </div>
    <div class="col-sm-6" style="background: #fff">
      <div class="float-right"><button type="submit" (click)="open(mymodal)" class="btn btn-primary"
          style="background-color: #6062BE;">New User</button></div>
      <br><br><br>
      <div class="table-responsive scrollbox">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="row-border hover"
          style="width: 100%;">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Role</th>
              <th>Last login</th>

            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let user of users; let i = index" (click)="showUser(user,i)" [class.active]="i == HighlightRow">
              <td>{{i+1}}</td>
              <td>
                <div class="row">
                  <div class="col-sm-2" style="padding:0">
                    <i class="fa fa-user-circle" style="font-size: 2em;" aria-hidden="true"></i>
                  </div>
                  <div class="col-sm-10" style="padding:0;left: -12px;">
                    <div style="color: #000;">{{user.fullName}}</div>
                    <span style="font-size:10px">{{user.email}} </span>
                  </div>
                </div>
              </td>
              <td>{{user.role.description}}</td>
              <td>{{user.managerName}}</td>

            </tr> -->

          </tbody>
        </table>

      </div>
    </div>
    <div class="col-sm-3" style="margin-left: 6px;background: #fff;padding-left: 30px;">
      <!--<app-display-user [userData]=childUserData [userImage]=childUserImage (buttonEvents)="displayUserBtnClick()"></app-display-user>-->
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">New User</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div>
        <div class="row">
          <div class="col-sm-3"><label>Full Name</label></div>
          <div class="col-sm-9">
            <div><input type="text" class="form-control" name="fullName" /></div>
            <!--<div *ngIf="submitted && f.fullName.errors">
                     <div *ngIf="f.fullName.errors.required" class="error">Full name is required</div>
                 </div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3"><label>Email</label></div>
          <div class="col-sm-9">
            <!-- <div><input type="text" class="form-control" [attr.disabled]="disableEMail" name="email" /></div> -->
            <!--<div *ngIf="submitted && f.email.errors">
                       <div *ngIf="f.email.errors.required" class="error">Email required</div>
                   </div>

                    <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched) && f.email.value!=''">
                       <div  class="error">Email is already taken </div>
                   </div>-->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3"><label>Password</label></div>
          <div class="col-sm-9">
            <div><input type="text" class="form-control" name="password" /></div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><label>Confirm Password</label></div>
            <div class="col-sm-9">
              <div><input type="text" class="form-control" name="retypepassword" /></div>
            </div>
          </div>


        <div class="row">
          <div class="col-sm-3"><label>User Type</label></div>
          <div class="col-sm-9">
            <select class="form-control">
                <option value="uw">Under Writter</option>
                <option value="analyst">CAT Analyst</option>
                <option value="manager">CAT Manager</option>
            </select>
            <!-- <div *ngIf="submitted && selectedRoles.initial_select=='default'" class="error">Select Role </div> -->
          </div>
        </div>


        <!-- <div class="row justify-content-center" style="margin-top:10px;margin-bottom: 10px;">
          <div class="float-right"><button type="submit" class="btn btn-primary">Submit</button></div>
          <div class="float-right"><button type="button" (click)="cancel()"
              style="background: #e91e63;border: none; margin-left: 10px;" class="btn btn-primary">Cancel</button></div>
        </div> -->

      </div>


    </form>
  </div>
  <!--<div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>-->
</ng-template>
