<app-top-navbar></app-top-navbar>
<div class="container">
  <div class="tab-pane"  id="settings" *ngIf="editMode == false" >
          <form   [formGroup]="form">
                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="row" style="margin-top: 35px;">
                          <div class="col-md-3">
                        <label style="margin-top: 15px;">First Name</label>
                        </div>
                        <div class="col-md-6" >
                        <input type="text" formControlName="firstName" placeholder="First name" required class="form-control" required style="    height: 45px;    ;" readonly/>

                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="row" style="margin-top: 35px;">
                          <div class="col-md-3">
                        <label style="margin-top: 15px;">Last Name</label>
                        </div>
                        <div class="col-md-6" >
                        <input type="text" formControlName="lastName" placeholder="last name" class="form-control" style="    height: 45px;    " readonly/>

                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="row" style="margin-top: 35px;">
                          <div class="col-md-3">
                        <label style="margin-top: 15px;">Geo/Country</label>
                        </div>
                        <div class="col-md-6" >
                          <input type="text" formControlName="country" placeholder="country" class="form-control" style="    height: 45px;    " readonly/>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="row" style="margin-top: 35px;">
                          <div class="col-md-3">
                        <label style="margin-top: 15px;">Product Line </label>
                        </div>
                        <div class="col-md-6" >
                          <input type="text" formControlName="productLine" placeholder="Product Line" class="form-control" style="    height: 45px;    " readonly/>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="row" style="margin-top: 10px;">
                          <div class="col-md-9" style="text-align: right;">

                           <br>
                           <div class="col-md-3"></div>
                           <button type="submit" class="btn" (click)="editProfile()" style=" color: white;    padding: 0px 15px 0px 18px!important;
                           border-top-left-radius: 5px!important; border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Edit</button>&nbsp;&nbsp;
                           <button type="submit" class="btn" (click)="gotoHome()" style="  color: white;   padding: 0px 15px 0px 18px!important;
                           border-top-left-radius: 5px!important; border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Home</button>
                          </div>
                       </div>
                      </div>
                 </div>
                </form>
  </div>
  <div class="tab-pane"  id="settings" *ngIf='editMode == true'>
    <form   [formGroup]="form">
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3">
                  <label style="margin-top: 15px;">First Name</label>
                  </div>
                  <div class="col-md-6" >
                  <input type="text" formControlName="firstName" placeholder="First name" required class="form-control" required style="    height: 45px;    ;" />

                  </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3">
                  <label style="margin-top: 15px;">Last Name</label>
                  </div>
                  <div class="col-md-6" >
                  <input type="text" formControlName="lastName" placeholder="last name" class="form-control" style="    height: 45px;    " />

                  </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3">
                  <label style="margin-top: 15px;">Geo/Country</label>
                  </div>
                  <div class="col-md-6" >
                    <input type="text" formControlName="country" placeholder="country" class="form-control" style="    height: 45px;    " />
                  </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3">
                  <label style="margin-top: 15px;">Product Line </label>
                  </div>
                  <div class="col-md-6" >
                    <input type="text" formControlName="productLine" placeholder="Product Line" class="form-control" style="    height: 45px;    " />
                  </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-9" style="text-align: right;">

                     <br>
                     <div class="col-md-3"></div>
                     <button type="submit" class="btn" (click)="updateProfile()" style=" color: white;    padding: 0px 15px 0px 18px!important;
                     border-top-left-radius: 5px!important; border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Update</button>&nbsp;&nbsp;
                     <button type="submit" class="btn" (click)="gotoHome()" style="  color: white;   padding: 0px 15px 0px 18px!important;
                     border-top-left-radius: 5px!important; border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Cancel</button>
                    </div>
                 </div>
                </div>
           </div>
          </form>
</div>
  </div>
