@import '~bootstrap/dist/css/bootstrap.min.css';
.Box {
    background-color: #fff;
    height: 142px;
    border-radius: 5px;
    border: 1px solid #E5E7FA;
    margin:5px;

    width: 360px;

    }

    .Box1 {


        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        margin:5px;
        background-color: #7c7dc8!important;
        color:#fff;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 12px;

        display: flex;

        }
        .Box2 {
            background-color: #fff;
            height: 300px;
            }
            .panel-actions {
                margin-top: -20px;
                margin-bottom: 0;
                text-align: right;
              }
              .panel-actions a {
                color:#333;
              }
              .panel-fullscreen {
                  display: block;
                  z-index: 9999;
                  position: fixed;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  overflow: auto;
              }
              .glyphicon {
                position: relative;
                top: 1px;
                display: inline-block;
                font-family: "Glyphicons Halflings";
                font-style: normal;

                color: #fff!important;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .Box7{
                background-color: #fff;
                height: 170px;
                border-radius: 5px;
                border: 1px solid #E5E7FA;
                margin:2px;

            }
            .form-control{
                background-color: #fff;
                border-radius: 5px;
                height: 60px;
                border: 1px solid #E5E7FA;
                margin:2px;
                margin-left:0px;

            }
            select.form-control{
              background-color: #fff;
              border-radius: 5px;
              height: auto;
              border: 1px solid #E5E7FA;
              margin:2px;
              margin-left:0px;

          }

          .form-group{
            margin-bottom:10px;
          }


            ::ng-deep .table {
                width: 100%;
                margin-bottom: 1rem;
                color: #212529;
                background-color: transparent;
                border: 1px solid #D8DAE2E3;
                border-radius: 5px;
              }

              ::ng-deep.table thead th {
                font-weight: 500;
                border-bottom-width: 1px;
                padding-top: .6rem;
                padding-bottom: .6rem;
                background: #6062BE;
                color: #fff;
              }

              ::ng-deep.table td,
              ::ng-deep.table th {
                padding: .6rem;
                vertical-align: top;
                border-top: 1px solid #ebedf2;
              }

              ::ng-deep .form-group {
                margin-bottom: 1rem;
              }

              ::ng-deep img {
                vertical-align: middle;
                border-style: none;
                padding: 10px;
              }


              ::ng-deep.page-item.active ::ng-deep.page-link {
                z-index: 3;
                color: #fff;
                background-color: #6062BE;
                border-color: #5867dd;
              }

              ::ng-deep.page-link {
                position: relative;
                display: block;
                padding: .4rem .75rem;
                margin-left: 2px;
                line-height: 1.25;
                color: #5d78ff;
                background-color: #fff;
                border: 1px solid #ebedf2;
              }



              ::ng-deep.table tbody tr:nth-child(odd) {
                background-color: #F9F9FD;
              }

              ::ng-deep.table tbody tr td {
                color: #4d5074;
              }

              ::ng-deep.form-control {
                display: block;
                width: 100%;
                height: calc(1.5em + .9rem + 2px);
                padding: .65rem 1rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #e2e5ec;
                border-radius: 4px;
                -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
              }

              ::ng-deep.form-group {
                margin-bottom: .5rem;
              }

              svg:not(:root).svg-inline--fa {
                overflow: visible;
              }

              .fa-2x {
                font-size: 2em;
              }

              .svg-inline--fa.fa-w-16 {
                width: 1em;
              }

              .fa-layer-group:before {
                content: "\f5fd";
              }

              ::ng-deep.dropzones {
                display: flex;
                align-items: center;
                height: 45px !important;
                background: #fff;
                cursor: pointer;
                color: #717386;
                border: 1px dashed #5867dd !important;
                border-radius: 5px;
                font-size: 12px !important;
                overflow-x: auto;
              }

              /* table.dataTable thead .sorting_asc {
                background-image: url("assets/images/sort_asc.png");
              }

              table.dataTable thead .sorting_desc {
                background-image: url("assets/images/sort_desc.png");
              } */


              .completed {
                color: #1BBC9B;
              }

              .details_required {
                color: #FFAA00;
              }

              .in_progress {
                color: #2681FF;
              }

              .on_hold {
                color: #D8DAE2E3
              }

              .inprogress {
                color: #4D5074
              }


              ::ng-deep.btn-outline-secondary {
                  border: 1px solid #ebedf2;
              }


              .dropzones:after {
                  content:'\A';
                  position:absolute;
                  background:#000000;
                  border-radius: 5px;
                  bottom: 0;
                  left: 15px;
                  width:10%;
                  height: 45px !important;
                  background: transparent linear-gradient(180deg, #6062BE 0%, #8D7EEC 47%, #6062BE 100%) 0% 0% no-repeat padding-box;
              }

              .catfiles {
                  display: flex;
                  align-items: center;
                  height: 45px !important;
                  background: #fff;
                  cursor: pointer;
                  color: #717386;
                  border: 1px dashed #5867dd !important;
                  border-radius: 5px;
                  font-size: 12px !important;
                  overflow-x: auto;
                }

                .catfiles:after {
                  content:'\A';
                  position:absolute;
                  background:black;
                  bottom:0;
                  top: 25px;
                  left: 5px;
                  width:10%;
                  height: 45px !important;
                  background: transparent linear-gradient(180deg, #4D94FF 0%, #82ACFF 51%, #1159C7 100%) 0% 0% no-repeat padding-box;
                  border-radius: 5px;
              }



            @media screen and (min-width: 480px) {
                col-md-9  {
                  text-align: center;
                }
              }
