
<form style="background:#F2F3F8">
  <div class="col-md-12" style="padding-bottom:20px">
    <div class="form-group form-inline" style="padding-top:5px">
      <div class="col-md-6" style="padding-left:0px">
        <h4 style="color:#5f60ba"><img src="assets/images/Layers.png" width="35" style="
      padding: 8px;
      background: transparent;" alt=""/> Total Submission ({{_subission.length}}):</h4>
      </div>
      <div class="col-md-6" style="padding-right:0px">
      <div class="input-group-addon">
    <span class="glyphicon glyphicon-envelope"></span>
     </div>
        <input class="form-control ml-6" style="right:200px;width: 250px;float: right;"
        type="text" name="searchTerm" placeholder="search" (keyup)="applyFilter($event.target.value)"/>


        <!-- <button style="float: right;
      width: 180px;
      height: 34px;
      background: #6062BE;
      color: #fff;
      padding: 8px;
      border: 1px solid #6062BE;
      border-radius: 5px;" (click)="getusersubmissionswithdates()">Refresh Submission</button> -->
      </div>

        <span class="ml-3" style="padding-left:50%" *ngIf="service.loading$ | async">Loading...</span>
    </div>
  <div style="background:#fff;height: 100%;">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped" matSort>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">



         <img  src="assets/images/pencil.png" style="padding: 2px;width:18px;"  (click)="open(mymodal,element,'edit','open')">
         <img src="assets/images/book.png" style="padding: 2px;width:18px;" (click)="open(viewmodal,element,'view','')">
         <img src="assets/images/Assign.png" style="padding: 2px;width:18px;" (click)="open(assignmodal,element,'assign','')">
         <img *ngIf="element.Modeling_Status.indexOf('Completed') >= 0"  src="assets/images/viewresults.png" style="padding: 2px;width:18px;"  (click)="open(executedmodel,element,'edit','exec')">

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cat_Manager">
        <mat-header-cell *matHeaderCellDef   mat-sort-header>Cat Manager</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Cat_Manager}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cat_Analyst">
        <mat-header-cell *matHeaderCellDef  mat-sort-header >Cat Analyst</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Cat_Analyst}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Ref_ID">
        <mat-header-cell *matHeaderCellDef  mat-sort-header > CAT Modelling Ref Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Ref_ID}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Assigned">
        <mat-header-cell *matHeaderCellDef   mat-sort-header>Assigned</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Assigned}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="TAT">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> TAT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.TAT}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Sub_Date">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Sub Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Sub_Date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Sub_Time">
        <mat-header-cell *matHeaderCellDef  mat-sort-header > Sub Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Sub_Time}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="UW_Name">
        <mat-header-cell *matHeaderCellDef  mat-sort-header > UW Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.UW_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="UW_Comments">
        <mat-header-cell *matHeaderCellDef  mat-sort-header >UW Comments</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.UW_Comments}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Modeling_Status">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Modelling Status </mat-header-cell>
        <mat-cell *matCellDef="let element" class="{{element.Modeling_Status | modelingstatus}}"> {{element.Modeling_Status}}   </mat-cell>
      </ng-container>

      <ng-container matColumnDef="UW_Status">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> UW Status </mat-header-cell>
        <mat-cell *matCellDef="let element"  > {{element.UW_Status}}
          <span *ngIf="element.UW_Status == 'Pending'">&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></span>
          </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="Binder_Status">
        <mat-header-cell *matHeaderCellDef> Binder Status </mat-header-cell>
        <mat-cell *matCellDef="let element"  > {{element.Binder_Status}}
        <span *ngIf="element.Binder_Status == 'Pending'">&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></span>
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-paginator [pageSize]=NUMBEROFRECORDS   showFirstLastButtons ></mat-paginator>
<!-- <mat-paginator appStylePaginator  showFirstLastButtons
            [showTotalPages]="3"
            [length]="dataSource.data.length"
            [pageSize]="3"
            [pageSizeOptions]="[3, 5, 10, 20]">
</mat-paginator> -->

    </div>

  </div>
  </form>



  <ng-template #assignmodal let-modal >
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">CATS Modelling - {{CurrentRefId}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        &times;
      </button>
    </div>
    <div class="modal-body" style="height: 500px;">
      <div class="row">
        <div class="col-md-7">

          <form  [formGroup]="form">
    <div class="form-row" >
    <div class="form-group col-md-8">
        <label for="assignanalyst">Assign to Analyst</label>
        <select  id="assignanalyst" class="form-control" formControlName="assignanalyst" style="height: 35px;">
          <option *ngFor="let option of _catAnalysts | async" [value]="option.id">
            {{option.full_name}}
          </option>
          <option *ngFor="let option of _catManagers | async" [value]="option.id">
            {{option.full_name}}
          </option>
        </select>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-success" style="margin-top:17%;padding: 5px 20px 6px;width:100px" (click)="assigntoAnalyst();modal.dismiss('Cross click')">Assign</button>
    </div>
    </div>
  </form>
  </div>


  </div>
    </div>
  </ng-template>




  <ng-template #mymodal let-modal >
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">CATS Modelling Input - {{CurrentRefId}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        &times;
      </button>
    </div>
    <div class="modal-body" style="height: 500px;">
      <div class="row">
        <div class="col-md-7">
      <form  [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="form-row">
              <div class="form-group col-md-10">
            <label for="inputCity">SOV filename</label>
            <input type="text" class="form-control" id="inputCity" formControlName="SOVfile" readonly>
              </div>
              <div class="form-group col-md-2">
                <label for="inputCity"> </label>
                <button class="btn" style="margin-top:30%;" (click)="downloadFile(rowdata,'SOV')" ><i class="fa fa-download"></i></button>
            </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="form-row">
              <div class="form-group col-md-10">
                <label for="inputCity">Instructions filename</label>
                  <input type="text" class="form-control" id="inputCity" formControlName="Instructionsfile" readonly>
                </div>
                <div class="form-group col-md-2">
                <label for="inputCity"> </label>
                <button class="btn" style="margin-top:30%;" (click)="downloadFile(rowdata,'Instructions')" ><i class="fa fa-download"></i></button>
            </div>
      </div>
        </div>
        </div>

   <!-- <div *ngIf="LoggedInUserRole === 'CAT_MANAGER';then thenBlock1 " ></div>
    <ng-template #thenBlock1>-->
    <div class="form-row" >
    <div class="form-group col-md-8">
        <label for="assignanalyst">Assign to Analyst</label>
        <select  id="assignanalyst" class="form-control" formControlName="assignanalyst" >
          <option *ngFor="let option of _catAnalysts | async" [value]="option.id">
            {{option.full_name}}
          </option>
          <option *ngFor="let option of _catManagers | async" [value]="option.id">
            {{option.full_name}}
          </option>
        </select>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-success" style="margin-top:17%;padding: 5px 20px 6px;width:100px" (click)="assigntoAnalyst();">Assign</button>
    </div>
    </div>
 <!--</ng-template>-->
    <div class="form-row" >
      <div class="form-group col-md-8">
          <label for="filetype">Output File Type</label>
          <br/>
          <div class="btn-group btn-group-lg btn-group-toggle" ngbRadioGroup name="radioBasic"   [(ngModel)]="ouputfiletype">
            <label ngbButtonLabel class="btn btn-outline-dark" style="border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
              <input ngbButton type="radio" value="air" (change)="selectOutFileType()"> AIR
            </label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label ngbButtonLabel class="btn btn-outline-dark" style="border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
              <input ngbButton type="radio" value="rms" (change)="selectOutFileType()"> RMS
            </label>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <label ngbButtonLabel class="btn btn-outline-dark">
              <input ngbButton type="radio" value="2"> 2
            </label> -->
          </div>
      </div>



      <div class="form-group col-md-4">
        <button type="button" class="btn btn-success"  [disabled]="!isAssigned" style="margin-top:19%;padding: 5px 20px 6px;width:100px;" (click)="executeSubmission(rowdata);">RUN</button>
      </div>
      </div>

      <div *ngIf="showQCChecks"  style="margin-top: 20px;">
    <!-- <div class="form-row">

    <div class="form-group col-md-6">
          <label for="filetype">QA Checks :</label>
     </div>
     <div class="form-group col-md-6">
      </div>
    </div> -->
<div class="form-row" >
<div class="form-group col-md-9">
<div class="form-row">
    <div class="form-group col-md-6 QCCheckLabels">
          <label for="filetype">SOV Input file validation</label>
     </div>
     <div class="form-group col-md-6">
      <label for="filetype" class="{{QCCheckvariable | modelingstatus}}">{{QCCheckvariable | modelingstatus}}</label>
      </div>
    </div>
<div class="form-row" *ngIf="duplicateCheck != 'Not Applicable'" >
    <div class="form-group col-md-6 QCCheckLabels">
          <label for="filetype">Duplicate Check</label>
     </div>
     <div class="form-group col-md-6">
      <label for="filetype" class="{{duplicateCheck | modelingstatus}}">{{duplicateCheck}}</label>
      </div>
    </div>
<div class="form-row" *ngIf="GeoCodeCheck != 'Not Applicable'" >
    <div class="form-group col-md-6 QCCheckLabels">
          <label for="filetype">GEO Code</label>
     </div>
     <div class="form-group col-md-6">
      <label for="filetype" class="{{GeoCodeCheck | modelingstatus}}">{{GeoCodeCheck | modelingstatus}}</label>
      </div>
    </div>
    <div class="form-row" *ngIf="outputFileCreation != 'Not Applicable'">
    <div class="form-group col-md-6 QCCheckLabels">
          <label for="filetype">Output file creation</label>
     </div>
     <div class="form-group col-md-6">
      <label for="filetype" class="{{outputFileCreation | modelingstatus}}">{{outputFileCreation | modelingstatus}}</label>
      </div>
    </div>
      </div>

    <!-- <div style="float:right">

    <button type="submit" class="btn btn-success" style="margin-left:10px"  >Submit</button>
    <button type="button" style="margin-left:10px" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div> -->
  <div class="form-group col-md-3" style="background: whitesmoke;" *ngIf="outputFileCreation != 'Not Applicable'">

    <button style=" background: #6062BE;
    color: #fff;
    padding: 8px;
    border: 1px solid #6062BE;
    border-radius: 5px;    margin-top: 50%;" (click)="modal.close('Save click');open(executedmodel,rowdata,'edit','exec');ApproveSubmission(rowdata)">View Output File</button>
  </div>
  </div>
      </div>
  </form>
  </div>
  <div class="col vl" >
    <form  [formGroup]="form" >
    <div class="form-group col-md-12" style="    padding-left: 0px;" >
      <label for="inputCity"  style="padding-left: 0px;">Email Subject Line:</label>
      <input type="text" class="form-control"  formControlName="subline"  style="background-color: #f1f2f8; ">
    </div>
    <div class="form-group col-md-12" style="    padding-left: 0px;">
      <label for="inputCity" style="padding-left: 0px;">CAT Analyst Comment</label>
      <!-- <input type="text" class="form-control" id="inputCity" style="background-color: #f1f2f8; height: 100px;"> -->
      <textarea class="form-control" rows="5" formControlName="cacomments" style="height: 100px;background-color: #f1f2f8; "   > </textarea>
    </div>

       <div class="form-group col-md-12" style="    padding-left: 0px;">
            <label for="inputCity" style="padding-left: 0px;">Cat Modelling Requester Email</label>
            <input type="text" class="form-control" formControlName="email_id"   style="background-color: #f1f2f8; " >
          </div>

          <div class="form-group col-md-12" style="    padding-left: 0px;">
            <label for="inputAddress2" style="padding-left: 0px;">Email Body (auto)</label>
            <textarea class="form-control" formControlName="email_body" rows="5" style="height: 300px;"  style="background-color: #f1f2f8;"> </textarea>
          </div>
            <div style="float:right">
              <button  class="btn btn-success" (click)="modal.close('Save click');sendEmail();">Send</button>
              <button  style="margin-left:10px;     margin-right: 16px;" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
              </div>
              </form>
  </div>
  </div>
    </div>
  </ng-template>





  <ng-template #executedmodel let-modal>
    <div class="modal-header" style="width: 150%; margin-left: -180px;">
      <h5 class="modal-title" id="modal-basic-title">CATS Modelling Output Files - {{CurrentRefId}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        &times;
      </button>
    </div>
    <div class="modal-body modal-body1" style="width: 150%; background-color: #fff;  margin-left: -180px;">

  <div class="row" >

      <div class="form-group col-md-6" >
        <label for="inputAddress2" style="padding-left: 0px;">View Location File:</label>
        <div style="height: 200px;width: 100%;overflow: scroll;">
        <table style=" white-space: nowrap;" >
          <thead>
          <tr>
            <th *ngFor="let tt of  LocationsTableheader | keyvalue" style="border: 1px solid;padding: 5px;font-weight: 200 !important;">
              <ngb-highlight [result]="tt.key" ></ngb-highlight>
            </th>
          </tr>
          </thead>
         <tbody>
          <tr *ngFor="let country of  LocationsTabledata">
            <td *ngFor="let tt of  country | keyvalue" style="border: 1px solid;padding: 5px;">
              <ngb-highlight [result]="tt.value" ></ngb-highlight>
            </td>
          </tr>
            </tbody>
        </table>
        </div>
      </div>


      <div class="form-group col-md-6">
        <label for="inputAddress2" style="padding-left: 0px;">View Account File:</label>
        <div style="height: 200px;width: 100%;overflow: scroll;">
        <table  style=" white-space: nowrap;"  >
          <thead>
          <tr>
            <th *ngFor="let tt of  AccountTableheader | keyvalue" style="border: 1px solid;padding: 5px;font-weight: 200 !important;">
              <ngb-highlight [result]="tt.key" ></ngb-highlight>
            </th>
          </tr>
          </thead>
         <tbody>
          <tr *ngFor="let country of  AccountTabledata">
            <td *ngFor="let tt of  country | keyvalue" style="border: 1px solid;padding: 5px;">
              <ngb-highlight [result]="tt.value" ></ngb-highlight>
            </td>
          </tr>
            </tbody>
        </table>
      </div>
      </div>


  </div>
  <div class="row">
    <div class="form-group col-md-6" style="float:right">
      <button class="btn btn-success"  (click)="downloadFile(rowdata,'Locations')" style="float:right"  >Download file</button>
      </div>
    <div class="form-group col-md-6" style="float:right">
      <button class="btn btn-success"  (click)="downloadFile(rowdata,'Accounts')" style="float:right"  >Download file</button>
      </div>


  </div>
  <div class="row">
    <div class="col-sm-4" >

      <label for="inputEmail4">Select Location File*:</label>
      <div id="dropArea" class="catfiles" style="padding-left: 10px;">
        <input id="catmodellfile" type="file" style="display: none;" (model)="_catfile" (change)="onFileChange($event, 'catfile')">
        <span id="catfile"> {{catfilename}}</span>
          <img src="assets/images/upload.png" id="browse"  style="position: absolute;
          right: 12px;padding: 5px !important;" (click)="openModellingFile($event, 'catfile')"/>
       </div>

    </div>
    <div class="col-sm-4" style="margin-left: 204px;" >
      <label for="inputEmail4">Select Account File*:</label>
      <div id="dropArea" class="catfiles" style="padding-left: 10px;">
        <input id="catmodellfile" type="file" style="display: none;" (model)="_catfile" (change)="onFileChange($event, 'catfile')">
        <span id="catfile"> {{catfilename}}</span>
          <img src="assets/images/upload.png" id="browse"  style="position: absolute;
          right: 12px;padding: 5px !important;" (click)="openModellingFile($event, 'catfile')"/>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6" >
             <div class="example-label"  style="margin-left:0px; margin-top: 10px;">Output Files Type*:</div>
           <!-- Default inline 1 -->
           <div class="btn-group btn-group-toggle " data-toggle="buttons" style="margin-left: 0px; padding: 10px 0px 0px;">
            <label class="btn btn-secondary active btnoutfiles" style=" padding: 10px 0px 0px;">
              <input type="radio" name="options" id="option1" autocomplete="off" style="padding-left:5px; padding-top:0px;"> AIR
            </label>
            <label class="btn btn-secondary btnoutfiles" style="margin-left:30px;     padding: 10px 0px 0px;">
              <input type="radio" name="options" id="option2" autocomplete="off" style="padding-left:5px; padding-top:0px;  padding: 0px 15px 0px 18px!important;"> RMS
            </label>
            <button type="submit" class="btn btn-success" (click)="modal.close('Save click')" style="margin-left: 183px;    padding: 0px 15px 0px 18px!important;
            border-top-left-radius: 5px!important; border-bottom-left-radius: 5px!important;">Export</button>
          </div>
    </div>


  </div>

    </div>
  </ng-template>

  <ng-template #viewmodal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">CATS Modelling View - {{CurrentRefId}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        &times;
      </button>
    </div>
    <div class="modal-body">
      <form  [formGroup]="form">
        <input type="hidden" (modal) = 'rowdata' />
    <div class="form-row">
      <div class="form-group col-md-8">
        <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-row">
          <div class="form-group col-md-10">
        <label for="inputCity">SOV filename</label>
        <input type="text" class="form-control" id="inputCity" formControlName="SOVfile" readonly>
        </div>
          <div class="form-group col-md-2">
            <label for="inputCity"> </label>
             <button class="btn" style="margin-top:50%;" (click)="downloadFile(rowdata,'SOV')" ><i class="fa fa-download"></i></button>
        </div>
        </div>
      </div>
      <div class="form-group col-md-6">
    <div class="form-group col-md-12">
        <div class="form-row">
          <div class="form-group col-md-10">
            <label for="inputCity">Modelling Instructions filename</label>
              <input type="text" class="form-control" id="inputCity" formControlName="Instructionsfile" readonly>
        </div>
          <div class="form-group col-md-2">
            <label for="inputCity"> </label>
            <button class="btn" style="margin-top:50%;" (click)="downloadFile(rowdata,'Instructions')" ><i class="fa fa-download"></i></button>
        </div>
        </div>
  </div>
    </div>
    </div>
    <div class="form-group-row">
    <div class="form-group col-md-12" style="    padding-left: 0px;">
      <label for="inputCity" style="padding-left: 0px;">Assign</label>
      <input type="text" class="form-control" formControlName="assignanalyst"   style="background-color: #f1f2f8; " >
    </div>
  </div>
  <div class="form-group-row">
    <div class="form-group col-md-12" style="    padding-left: 0px;">
      <label for="inputCity" style="padding-left: 0px;">SOV Input file validation</label>
      <input type="text" class="form-control" formControlName="sov_file_validation"   style="background-color: #f1f2f8; " >
    </div>
  </div>
  <div class="form-group-row">
    <div class="form-group col-md-12" style="    padding-left: 0px;">
      <label for="inputCity" style="padding-left: 0px;">Duplicate Check</label>
      <input type="text" class="form-control" formControlName="duplicate_validation"   style="background-color: #f1f2f8; " >
    </div>
  </div>
  <div class="form-group-row">
    <div class="form-group col-md-12" style="    padding-left: 0px;">
      <label for="inputCity" style="padding-left: 0px;">GEO Code</label>
      <input type="text" class="form-control" formControlName="geo_validation"   style="background-color: #f1f2f8; " >
    </div>
  </div>
  <div class="form-group-row">
    <div class="form-group col-md-12" style="    padding-left: 0px;">
      <label for="inputCity" style="padding-left: 0px;">Output file creation</label>
      <input type="text" class="form-control" formControlName="output_validation"   style="background-color: #f1f2f8; " >
    </div>
  </div>

    </div>
    <div class="form-group col-md-4">
      <div class="form-row">
        <div class="col vl" >
          <div class="form-group col-md-12" style="    padding-left: 0px;" >
            <label for="inputCity"  style="padding-left: 0px;">Email Subject Line:</label>
            <input type="text" class="form-control"  formControlName="subline"  style="background-color: #f1f2f8; ">
          </div>
          <div class="form-group col-md-12" style="    padding-left: 0px;">
            <label for="inputCity" style="padding-left: 0px;">CAT Analyst Comment</label>
            <!-- <input type="text" class="form-control" id="inputCity" style="background-color: #f1f2f8; height: 100px;"> -->
            <textarea class="form-control" rows="5" formControlName="cacomments" style="height: 100px;background-color: #f1f2f8; "   > </textarea>
          </div>

             <div class="form-group col-md-12" style="    padding-left: 0px;">
                  <label for="inputCity" style="padding-left: 0px;">Cat Modelling Requester Email</label>
                  <input type="text" class="form-control" formControlName="email_id"   style="background-color: #f1f2f8; " >
                </div>

                <div class="form-group col-md-12" style="    padding-left: 0px;">
                  <label for="inputAddress2" style="padding-left: 0px;">Email Body</label>
                  <textarea class="form-control" formControlName="email_body" rows="5" style="height: 300px;"  style="background-color: #f1f2f8;"> </textarea>
                </div>
        </div>
        </div>
        </div>
    </div>


    <div style="float:right">
    <!-- <button type="submit" class="btn btn-success"  (click)="modal.close('Save click');open(mymodal,rowdata,'edit')" >Edit</button> -->
    <button type="button" style="margin-left:10px" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
    </form>
    </div>
  </ng-template>
