<app-top-navbar></app-top-navbar>
<div class="container">
  <div class="tab-pane" id="settings">
      <form  [formGroup]="form">


                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="row" style="margin-top: 35px;">
                      <div class="col-md-3">
                    <label style="margin-top: 15px;">No of Records to display</label>
                    </div>
                    <div class="col-md-6" >
                      <select class="form-control" formControlName="numberofrecords" id="exampleFormControlSelect1" style="    height: 45px;    ">
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                      </select>
                    </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-md-9">

                       <br>
                       <div class="col-md-3"></div>

                        <button  (click)="changeRecords()" class="btn btn-success" style="float: right;    padding: 0px 15px 0px 18px!important;
                border-top-left-radius: 5px!important; border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Submit</button>
                       <button (click)="gotoHome()" style="float: right;  margin-right:28px;  padding: 0px 15px 0px 18px!important;
                       border-top-left-radius: 5px!important; border-top-right-radius: 5px!important;  color: #fff; border-bottom-right-radius: 5px!important; border-bottom-left-radius: 5px!important; height: 40px; background: #6062BE;">Cancel</button>
                    </div>
                   </div>
                  </div>
             </div>
            </form>
    </div>
    </div>
