 <div   class="noPadding container-fluid" style="height:100%;padding:0px!important">
  <div>
    <app-top-navbar></app-top-navbar>
    <app-nav-bar  ></app-nav-bar>
  </div>
  <div class="container-fluid" style="background:#F2F3F8">
    <div class="row">
      <div class="col-md-12" style="padding:0 0;background-color:#F0F0F7">
        <div>

        </div>
        <div class="main" style="margin-top: 0px; min-height:78.7vh">
          <router-outlet ></router-outlet>
        </div><br>
      </div>
    </div>


  </div>
  <div>
    <div class="col-md-12" style="padding: 0;">
      <div class="wrapper" style="z-index: 101;">
        <div class="nav_footer">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>

