
::ng-deep.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem;
  border-bottom: 1px solid #ebedf2;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  background: #6062BE;

}


::ng-deep.modal .modal-content .modal-header .modal-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff !important;
}

::ng-deep.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ebedf2;
  /* border-radius: .3rem; */
  outline: 0;
}

::ng-deep.table tbody tr:nth-child(odd) {
  background-color: #F9F9FD;
}

::ng-deep.table tbody tr td {
  color: #4d5074;
}
.Box {
  background-color: #fff;
  height: 120px;
  border-radius: 5px;
  border: 1px solid #E5E7FA;
  margin:5px;

  width: 360px;

  }

  .Box1 {


      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      margin:5px;
      background-color: #7c7dc8!important;
      color:#fff;
      font-size: 16px;
      padding-top: 15px;
      padding-bottom: 12px;

      display: flex;

      }
      .Box2 {
          background-color: #fff;
          height: 300px;
          }
          .panel-actions {
              margin-top: -20px;
              margin-bottom: 0;
              text-align: right;
            }
            .panel-actions a {
              color:#333;
            }
            .panel-fullscreen {
                display: block;
                z-index: 9999;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                overflow: auto;
            }
            .glyphicon {
              position: relative;
              top: 1px;
              display: inline-block;
              font-family: "Glyphicons Halflings";
              font-style: normal;

              color: #fff!important;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
          }

          @media screen and (min-width: 480px) {
              col-md-9  {
                text-align: center;
              }
            }
