
<div class="container-fluid">



    <div class="row" style="margin:10px 0 0 10px; ">
        <div class="col Box ">
            <div class="row" (click)="open(viewmodal,'Total')">

                <div class="col-md-3" style="margin-top: 15px;" ><img src="assets/images/pricing-structure.png" width="60" height="60"></div>
                <div class="col-md-9" style="margin-top: 25px; padding-left: 40px;">

                    <h1 style="color:#4d4f72;  ">{{TotalSubmitted }}</h1>

                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <p style="color:#9297d4;  font-weight: bold;"> Total Submitted Account</p>
              </div>
            </div>


        </div>
        <div class="col Box">
          <div class="row" (click)="open(viewmodal,'Awaiting UW Input')">
                <div class="col-md-3" style="margin-top: 15px;"><img src="assets/images/signing-a-document.png" width="60" height="60"></div>
                <div class="col-md-9" style="margin-top: 25px; padding-left: 40px;">

                    <h1 style="color:#4d4f72; "> {{Awaiting_UW_Comment}}</h1>

                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
            <p style="color:#9297d4;  font-weight: bold;"> Awaiting UW Comment</p>
          </div>
        </div>

        </div>
        <div class="col Box">
          <div class="row" (click)="open(viewmodal,'Completed')">
                <div class="col-md-3"style="margin-top: 15px;" ><img src="assets/images/Group 75.png" width="60" height="60"></div>
                <div class="col-md-9"style="margin-top: 25px; padding-left: 40px;">

                    <h1 style="color:#4d4f72;  ">{{Completed}}</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
            <p style="color:#9297d4;  font-weight: bold;"> Completed Account</p>
          </div>
        </div>

        </div>
        <div class="col Box">
          <div class="row" (click)="open(viewmodal,'Duplicate')">
                <div class="col-md-3" style="margin-top: 15px;"  ><img src="assets/images/terms-and-conditions.png" width="60" height="60"></div>
                <div class="col-md-9" style="margin-top: 25px;  padding-left: 40px;">

                    <h1 style="color:#4d4f72; "> {{Duplicate}}</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
            <p style="color:#9297d4;  font-weight: bold;"> Duplicate Account</p>
          </div>
        </div>
        </div>
        <div class="col Box">
          <div class="row" (click)="open(viewmodal,'Normal')">
                <div class="col-md-3" style="margin-top: 15px;" ><img src="assets/images/rules.png" width="60" height="60"></div>
                <div class="col-md-9" style="margin-top: 25px; padding-left: 40px;">

                    <h1 style="color:#4d4f72; ">{{Normal}}</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
            <p style="color:#9297d4;  font-weight: bold;">Normal Account</p>
          </div>
        </div>

        </div>
        <div class="col Box">
          <div class="row" (click)="open(viewmodal,'Rush')">
                <div class="col-md-3" style="margin-top: 15px;" ><img src="assets/images/rushaccount.png" width="60" height="60"></div>
                <div class="col-md-9" style="margin-top: 25px; padding-left: 40px;">

                    <h1 style="color:#4d4f72; ">{{Rush}}</h1>

                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p style="color:#9297d4;  font-weight: bold;">Rush Account</p>
          </div>
        </div>


        </div>

    </div>

    <!-- Chats:: Page -->

    <!--<div class="row" style="margin:10px 0 0 5px;">

            <div class="col-md-6 col-sm-12">
                <div class="panel " style="border:1px solid #E5E7FA;">

                        <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;">
                            Distribution of Completed Accounts by Number of Locations
                        <ul class="list-inline panel-actions">
                            <li><a href="#" id="panel-fullscreen" id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <app-chart></app-chart>
                   </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel " style="border:1px solid #E5E7FA;">

                        <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;">
                            Exposure Distribution by line of Business
                        <ul class="list-inline panel-actions">
                            <li><a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <bar-chart></bar-chart>
                   </div>
                </div>
            </div>


    </div>

    <div class="row" style="margin:5px 0 0 5px;">
        <div class="col-md-6 col-sm-12">
            <div class="panel " style="border:1px solid #E5E7FA;">

                    <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;">
                        Exposure Distribution by Poril Covored
                    <ul class="list-inline panel-actions">
                        <li><a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <us-chart></us-chart>
               </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel " style="border:1px solid #E5E7FA;">

                    <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;">
                        Exposure Concernation Map
                    <ul class="list-inline panel-actions">
                        <li><a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full" style="#fff"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <poril-chart></poril-chart>
               </div>
            </div>
        </div>
    </div> -->

    <div class="row" style="margin:10px 0 0 5px;">
        <div class="col-md-6 col-sm-12">
          <div style="background-color:#fff; position: absolute; z-index: 999; height: 50px; width: 60px; bottom: 0;" > </div>
            <div class="panel " style="border:1px solid #E5E7FA;background: white;  height: 100%;">
                <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
                    Distribution of Completed Accounts by Number of Locations
              <ul class="list-inline panel-actions">
                <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
              </ul>
            </div>
            <div class="panel-body" style="background: white;">
              <app-locatioswithpie></app-locatioswithpie>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div style="background-color:#fff; position: absolute; z-index: 999; height: 50px; width: 60px; bottom: 0;" > </div>
            <div class="panel " style="border:1px solid #E5E7FA;">
                <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
                  Exposure Distribution of Bound Accounts by Line of Business
              <ul class="list-inline panel-actions">
                <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
              </ul>
            </div>
            <div class="panel-body" style="background: white;">
               <app-Lineofbusiness></app-Lineofbusiness>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin:10px 0 0 5px;">
        <div class="col-md-6 col-sm-12">
          <div style="background-color:#fff; position: absolute; z-index: 999; height: 50px; width: 60px; bottom: 0;" > </div>
            <div class="panel " style="border:1px solid #E5E7FA;">
                <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
                    Exposure Distribution of Bound accounts by Peril
              <ul class="list-inline panel-actions">
                <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
              </ul>
            </div>
            <div class="panel-body" style="background: white;">
              <app-linechart></app-linechart>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div style="background-color:#fff; position: absolute; z-index: 999; height: 50px; width: 60px; bottom: 0;" > </div>
            <div class="panel " style="border:1px solid #E5E7FA;">
                <div class="panel-heading" style="background-color: #7c7dc8!important;   color:#fff; font-size: 16px;padding:5px;">
                    Exposure Concernation Map for Bound accounts
              <ul class="list-inline panel-actions">
                <li><a href="#" id="panel-fullscreen" class='fullscreen-btn' role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a></li>
              </ul>
            </div>
            <div class="panel-body" style="background: white;">
               <app-PerilCurve></app-PerilCurve>
            </div>
          </div>
        </div>
      </div>



</div>




<ng-template #viewmodal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">

    <div class="panel-body" style="height: 350px;
    overflow-y: scroll;padding: 3px;">
      <div style="background:#fff;height: 100%;">

        <table class="table table-striped">
          <thead>
          <tr>
          <th sortable="ref_id" scope="col" >Ref Id</th>
          <th sortable="UWName" scope="col" >UW Name</th>
          <th sortable="lob" scope="col" >LoB</th>
            <th sortable="tat" scope="col" >TAT</th>
            <th scope="col" sortable="duplicate" >Policy Type</th>
            <th scope="col" sortable="status" >Modelling Status</th>
            <th scope="col" sortable="status" >Modelling Sub Status</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of subresult">

              <td *ngIf="TypeofFiles == 'Awaiting UW Input'" >
                <a routerLink="/home/submission/{{country.Ref_ID}}">
                <ngb-highlight [result]="country.Ref_ID" ></ngb-highlight>
              </a>
              </td>
              <td *ngIf=" TypeofFiles == 'Duplicate' " >
                <a (click)='open(duplicateModel,"")'>
                <ngb-highlight [result]="country.Ref_ID" ></ngb-highlight>
              </a>
              </td>
              <td *ngIf="TypeofFiles != 'Awaiting UW Input' && TypeofFiles != 'Duplicate' " >
                 <ngb-highlight [result]="country.Ref_ID" ></ngb-highlight>

              </td>

            <td>
                <ngb-highlight [result]="country.UW_Name" ></ngb-highlight>
              </td>
            <td>
                <ngb-highlight [result]="country.LoB" ></ngb-highlight>
              </td>
            <td>
                <ngb-highlight [result]="country.TAT" ></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="country.Policy_Type" ></ngb-highlight>
              </td>
              <td><ngb-highlight [result]="country.Modeling_Status" class="{{country.Modeling_Status | modelingstatus}}"  ></ngb-highlight></td>

              <td><ngb-highlight [result]="country.Modeling_Sub_status"    ></ngb-highlight></td>
            </tr>
            </tbody>
        </table>

        </div>

    </div>

  </div>
</ng-template>



<ng-template #duplicateModel let-modal>
  <div class="modal-header" style="width: 150%; margin-left: -180px; height: 20px; ">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="padding-top: 0px;">
      &times;
    </button>
  </div>
  <div class="modal-body" style="width: 150%;      height: 825px; margin-left: -180px; background-color: #fff;">
    <div class="row" style="height: 200px!important;">

      <div class="col-md-8">
        <h6><b>Account Summary</b></h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Account Number: 000000001</th>
          <th scope="row">Underwriter : UW-1</th>

        </tr>
        <tr>
          <th scope="row"># of Locations: 70</th>
          <th scope="row">Total Value:USD: 141,089,314</th>

        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-4" style="margin-top: 45px;">
      <div class="row">
        <div class="col-md-7" >
      <button type="button" class="btn btn-primary">Retain Loss Result</button>
      </div>
      <div class="col-md-2">
      <button type="button" class="btn btn-primary">Remodel</button>
      </div>
      </div>
      </div>
    </div>
    <div class="row"   style=" height: 300px!important; margin-top: -95px;">

      <div class="col-md-12">
        <h6><b>Loss Summary (USD)</b></h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Account Summary</th>
          <th scope="row">Total</th>
          <th scope="row">Earthquake</th>
          <th scope="row">Windstrom</th>
          <th scope="row">Convective Strom</th>
          <th scope="row">Winter Strom</th>

        </tr>
        <tr>
          <th scope="row">Total Average Annual Loss</th>
          <td scope="row">37,854</td>
          <td scope="row">1,798</td>
          <td scope="row">24,534</td>
          <td scope="row">4,684</td>
          <td scope="row">6,838</td>

        </tr>
        <tr>
          <th scope="row">Total Standard Deviation</th>
          <td scope="row">615,825</td>
          <td scope="row">121,631</td>
          <td scope="row">572,621</td>
          <td scope="row">186,057</td>
          <td scope="row">43,984</td>

        </tr>
        <tr>
          <th scope="row">Total Coefficient of Variation</th>
          <td scope="row">16</td>
          <td scope="row">68</td>
          <td scope="row">23</td>
          <td scope="row">40</td>
          <td scope="row">6</td>

        </tr>
      </tbody>
    </table>
    </div>
    </div>
    <div class="row" style=" height: 350px!important; margin-top: -115px;" >

      <div class="col-md-6" >
        <h6><b>ANALYSIS:</b> US Earthquake Analysis with EQSL (USD)</h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Return Period (Probability)</th>
          <th scope="row">Ground Up Loss</th>
          <th scope="row">Gross loss</th>
          <th scope="row">Net loss</th>

        </tr>
        <tr>

          <td scope="row">100(1.00%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">200(0.50%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">300(0.33%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">400(0.25%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
        <tr>

          <td scope="row">500(0.20%)</td>
          <td scope="row">0</td>
          <td scope="row">0</td>
          <td scope="row">0</td>

        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-6" >
      <h6><b>ANALYSIS:</b> US Windstrom and Surge Analysis (USD)</h6>
  <table class="table table-bordered" style="background-color: none;">

    <tbody>
      <tr>
        <th scope="row">Return Period (Probability)</th>
        <th scope="row">Ground Up Loss</th>
        <th scope="row">Gross loss</th>
        <th scope="row">Net loss</th>

      </tr>
      <tr>

        <td scope="row">100(1.00%)</td>
        <td scope="row">70,826</td>
        <td scope="row">61,084</td>
        <td scope="row">61,084</td>

      </tr>
      <tr>

        <td scope="row">200(0.50%)</td>
        <td scope="row">579,463</td>
        <td scope="row">569,557</td>
        <td scope="row">569,557</td>

      </tr>
      <tr>

        <td scope="row">300(0.33%)</td>
        <td scope="row">1,322,201</td>
        <td scope="row">1,311,414</td>
        <td scope="row">1,311,414</td>

      </tr>
      <tr>

        <td scope="row">400(0.25%)</td>
        <td scope="row">2,148,069</td>
        <td scope="row">2,132,061</td>
        <td scope="row">2,132,061</td>

      </tr>
      <tr>

        <td scope="row">500(0.20%)</td>
        <td scope="row">2,982,728</td>
        <td scope="row">2,945,462</td>
        <td scope="row">2,945,462</td>

      </tr>
    </tbody>
  </table>
  </div>


    </div>
    <div class="row" style=" height: 350px!important; margin-top: -90px;">

      <div class="col-md-6">
        <h6><b>ANALYSIS:</b> US Severe Convective strom Analysis (USD)</h6>
    <table class="table table-bordered" style="background-color: none;">

      <tbody>
        <tr>
          <th scope="row">Return Period (Probability)</th>
          <th scope="row">Ground Up Loss</th>
          <th scope="row">Gross loss</th>
          <th scope="row">Net loss</th>

        </tr>
        <tr>

          <td scope="row">100(1.00%)</td>
          <td scope="row">73,868</td>
          <td scope="row">61,626</td>
          <td scope="row">61,626</td>

        </tr>
        <tr>

          <td scope="row">200(0.50%)</td>
          <td scope="row">140,802</td>
          <td scope="row">130,370</td>
          <td scope="row">130,370</td>

        </tr>
        <tr>

          <td scope="row">300(0.33%)</td>
          <td scope="row">195,251</td>
          <td scope="row">185,081</td>
          <td scope="row">185,081/td>

        </tr>
        <tr>

          <td scope="row">400(0.25%)</td>
          <td scope="row">244,642</td>
          <td scope="row">217,067</td>
          <td scope="row">217,067</td>

        </tr>
        <tr>

          <td scope="row">500(0.20%)</td>
          <td scope="row">292,161</td>
          <td scope="row">277,843</td>
          <td scope="row">277,843</td>

        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-6">
      <h6><b>ANALYSIS:</b> US Winterstrom Analysis (USD)</h6>
  <table class="table table-bordered" style="background-color: none;">

    <tbody>
      <tr>
        <th scope="row">Return Period (Probability)</th>
        <th scope="row">Ground Up Loss</th>
        <th scope="row">Gross loss</th>
        <th scope="row">Net loss</th>

      </tr>
      <tr>

        <td scope="row">100(1.00%)</td>
        <td scope="row">160,167</td>
        <td scope="row">148,596</td>
        <td scope="row">148,596</td>

      </tr>
      <tr>

        <td scope="row">200(0.50%)</td>
        <td scope="row">242,172</td>
        <td scope="row">226,647</td>
        <td scope="row">226,647</td>

      </tr>
      <tr>

        <td scope="row">300(0.33%)</td>
        <td scope="row">300,583</td>
        <td scope="row">280,220</td>
        <td scope="row">280,220</td>

      </tr>
      <tr>

        <td scope="row">400(0.25%)</td>
        <td scope="row">347,363</td>
        <td scope="row">330,379</td>
        <td scope="row">330,379</td>

      </tr>
      <tr>

        <td scope="row">500(0.20%)</td>
        <td scope="row">386,914</td>
        <td scope="row">364,027</td>
        <td scope="row">364,027</td>

      </tr>
    </tbody>
  </table>
  </div>

    </div>
    </div>
	</ng-template>





