/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.btn.dropdown-toggle:after, .nav-link.dropdown-toggle:after {
  content: none;
}
