::ng-deep.accordion>.card:not(:last-of-type) {
  border-bottom: 1 !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 10px;
}

::ng-deep.accordion .card {
  overflow: visible!important;
  margin: 0;

}


::ng-deep.accordion .card .card-header {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ebedf2;
border-bottom-right-radius: .25rem;
border-bottom-left-radius: .25rem;
}

::ng-deep.accordion.accordion .card .card-body {
  padding: 1.25rem;
  font-size: 1rem;
  border-bottom: 1px solid #ebedf2;
border-bottom-right-radius: .25rem;
border-bottom-left-radius: .25rem;
}

::ng-deep.btn.btn-link, a.btn.btn-label, button.btn.btn-label, input.btn.btn-label {
  cursor: pointer!important;
  width: 100%;
  text-align: left;

}

::ng-deep.btn.btn-link.active, ::ng-deep.btn.btn-link:focus, ::ng-deep.btn.btn-link:hover {
  background-color: #7C7ECC !important;
  color: #fff;
  text-decoration: none;
  margin-left: 0px;

}

::ng-deep.btn-link:hover {
  color: #ffffff !important;
  text-decoration: none;
  margin-left: 0px;
}



::ng-deep.btn-link {
  font-weight: 400;
  color: #7C7ECC;
  text-decoration: none;
  height: 50px;
  margin-left: 0px;

}
