<div class="col-md-6" style="padding-left:20px ">
	<h4 style="color: #5f60ba;margin-top: 15px;"><img src="assets/images/metro-books.png" width="35" style=" color: #5f60ba!important;
padding: 8px;
background: transparent; " alt="" /> HELP </h4>
</div>
<div class=".container-fluid" style="margin-left: 25px; margin-right: 13px;">

	<ngb-accordion (panelChange)="beforeChange($event)" #myaccordion="ngbAccordion" closeOthers="true"  *ngIf="isUnderWriter" >


		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
            <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }} About CATS</span></button>
      </ng-template>

			<ng-template ngbPanelContent>
				CATS (Catastrophe modeling Transaction System) is built using analytics algorithms and can automatically
				read input loss modeling files (SOV) in various formats (Excel, PDF). It can automate input data
				validation and communication with requestor/underwriter. CATS uses complex algorithms and AI to detect
				duplicate piacements upfront to eliminate duplicate effort on CAT model runs and increases consistency
				in risk estimation. it also automates location file preparation by performing scrubbing & coding for
				Primary/Secndary modifiers. CATS can integrate with RMS and AIR etc. to automate transfer of input
				files.
			</ng-template>
		</ngb-panel>
		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }} Add New Submission</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
				<img src="assets/images/add a new1.png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>
		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}  View Dashboard</span></button>
  </ng-template>
			<ng-template ngbPanelContent> <img src="assets/images/view.png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>

	</ngb-accordion>




	<ngb-accordion (panelChange)="beforeChange($event)" #myaccordion="ngbAccordion" closeOthers="true" *ngIf="isCatManager">


		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}  About CATS</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
				CATS (Catastrophe modeling Transaction System) is built using analytics algorithms and can automatically
				read input loss modeling files (SOV) in various formats (Excel, PDF). It can automate input data
				validation and communication with requestor/underwriter. CATS uses complex algorithms and AI to detect
				duplicate piacements upfront to eliminate duplicate effort on CAT model runs and increases consistency
				in risk estimation. it also automates location file preparation by performing scrubbing & coding for
				Primary/Secndary modifiers. CATS can integrate with RMS and AIR etc. to automate transfer of input
				files.
			</ng-template>
		</ngb-panel>
		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}  View Dashboard</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
				<img src="assets/images/View Dashboard (CAT Manager).png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>
		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   Assign Task to Analyst</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
        <img src="assets/images/Assign_1.png" width="100%" style=" color: #5f60ba!important;
        padding: 8px;
        background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>
		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   Run CATS Module</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
				<img src="assets/images/Run CATS Module.png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>
    <ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   View Loc / Account file</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
				<img src="assets/images/View Output files (Location and Account File).png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>
    <ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   Edit LOC / Accounte File</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
        <img src="assets/images/Edit Output files (Location and Account File).png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />


			</ng-template>
		</ngb-panel>

	</ngb-accordion>

	<ngb-accordion *ngIf="isCatAnalyst"  #myaccordion="ngbAccordion" closeOthers="true">
		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   About CATS</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
				CATS (Catastrophe modeling Transaction System) is built using analytics algorithms and can automatically
				read input loss modeling files (SOV) in various formats (Excel, PDF). It can automate input data
				validation and communication with requestor/underwriter. CATS uses complex algorithms and AI to detect
				duplicate piacements upfront to eliminate duplicate effort on CAT model runs and increases consistency
				in risk estimation. it also automates location file preparation by performing scrubbing & coding for
				Primary/Secndary modifiers. CATS can integrate with RMS and AIR etc. to automate transfer of input
				files.
			</ng-template>
		</ngb-panel>
		<ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   View Dashboard</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
				<img src="assets/images/View Dashboard (CAT Analyst).png" width="100%" style=" color: #5f60ba!important;
				padding: 8px;
				background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>
    <ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   View LOC / Account File</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
        <img src="assets/images/View Output files (Location and Account File).png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>
    <ngb-panel class="panelClass">
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn btn-link p-0"> <span style="margin-left: 1%;">   {{ opened ? '-' : '+' }}   Edit LOC / Account File</span></button>
  </ng-template>
			<ng-template ngbPanelContent>
        <img src="assets/images/Edit Output files (Location and Account File).png" width="100%" style=" color: #5f60ba!important;
			padding: 8px;
			background: transparent; " alt="" />
			</ng-template>
		</ngb-panel>


	</ngb-accordion>

